<!--FOOTER-->
<footer class="footer-distributed">
 
    <div class="footer-left">
 
    <h3>Insta<span>Visit</span></h3>
    <p class="footer-links">
    <a href="#">Création de </a>
  
    <a href="#">  &nbsp;visite virtuelle</a>
  
    <a href="#"> &nbsp;interactive </a><br>
  
    <a href="#">et contenus immersifs </a>
  
    <a href="#"> &nbsp;à 360° pour vous</a>
  
 
    </p>
 
    <p class="footer-company-name">InstaVisit &copy; 2020</p>
    <br>
    <p class="footer-company-name">Powred by Digita</p> 
    </div>
 
    <div class="footer-center">
 
    <div class="avenueM">
    <i class="fa fa-map-marker"></i>
    <p><span>52 Avenue de Carthage,Tunis</span></p>
    </div>
 
    <div class="phoneM">
    <i class="fa fa-phone"></i>
    <p>+216 28 697 757</p>
    </div>
 
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">contact@InstaVisit.com</a></p>
    </div>
 
    </div>
 
    <div class="footer-right">
 
    <p class="footer-company-about">
    <span>About the company</span>
    un portail internet innovant dans le domaine immobilier.
    </p>
 
    <div class="footer-icons">
 
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> 
    </div>
 
    </div>
 
    </footer>

 <!--   /TEST NEW FOOTER-->   