

        
   <br>
   <div class="ssr">
    <div class="row">
      <div class="col ">
        <mat-form-field appearance="outline" class="ref">
          <mat-label>Ref</mat-label>
          <input matInput placeholder="IV00***" [(ngModel)]="ref" >
          <mat-hint>tapez nombre de ***</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col " >
        <mat-form-field appearance="outline">
          <mat-label>Lieu</mat-label>
          <input matInput placeholder="Placeholder" value="{{ParamService.foo}}" [(ngModel)]="term" >
          <mat-icon matSuffix>find_replace</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col ">
        <label>Nombre de chambre</label>
        <select class="browser-default" [(ngModel)]="room">
          <option value=""  selected>S+</option>
          <option value="1">S + 1</option>
          <option value="2">S + 2</option>
          <option value="3">S + 3</option>
          <option value="4">S + 4</option>
          <option value="5">S + 5</option>
          <option value="6">S + 6</option>
        </select>
	  </div>
	   
    </div>
     <div class="row">
       <div class="col">
          <mat-label>Prix max: </mat-label>
          <mat-slider
             thumbLabel
             [displayWith]="formatLabel"
             tickInterval="50000"
             min="0"
             max="5000000" [(ngModel)]="maxPrice">
          </mat-slider>
          &nbsp;&nbsp;&nbsp;&nbsp;
       </div>
      <div class="col">
          <mat-label>Prix min: </mat-label>
          <mat-slider
          thumbLabel
          [displayWith]="formatLabel2"
          tickInterval="50000"
          min="0"
          max="50000" [(ngModel)]="minPrice">
       </mat-slider>
       &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col">
		<mat-label>Surface max: </mat-label>
		<mat-slider
		   thumbLabel
		   [displayWith]="formatLabel3"
		   tickInterval="25"
		   min="0"
		   max="2000" [(ngModel)]="maxSurface">
		</mat-slider>
	  </div>
	  <div class="col">
		<mat-label>Surface min: </mat-label>
		<mat-slider
		   thumbLabel
		   [displayWith]="formatLabel4"
		   tickInterval="25"
		   min="0"
		   max="50" [(ngModel)]="minSurface">
		</mat-slider>
	  </div>
	  
     </div>   
         
    </div>    
   
   <div class="row ct">
     
	
     <div class="col s12">
		<div class="row">
       
		 <div *ngFor="let output of pageOfItems ">
			
			<script>count++;</script>
            <div class="card col ">
           <div class="card-image waves-effect waves-block waves-light">
			<a routerLink="/nav/details/+{{output.id}}">
             <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}"></a>
           </div> <br>
           {{output.city }}
             <span>{{output.price }} DT - {{output.surface }} m²</span> <br>
             <small> {{output.piece }} piéces</small>
             <a routerLink="/nav/details/+{{output.id}}">
             <i class="material-icons right">filter_none</i></a>
           <div class="card-content">
         
           </div>
           <div class="card-reveal">
           </div>
           </div>
	   </div>
	  
			 
      </div> 
	  
	</div>
	<div class="pb-0pt-3">
        <jw-pagination2 [items]="FirOutput  | filter:term:'city' | filter:ref:'refr' | filter:room:'RoomNB'
		| filter4:minPrice:'price' | filter3:maxPrice:'price' | filter4:minSurface:'surface' | filter3:maxSurface:'surface'" (changePage)="onChangePage($event)"></jw-pagination2>
    </div>
   </div>
      































  <!-- OLD VENTE-->    
  <!--
<br>
<div class="row spanel">
	
		<div class="col s12 m5">
		  <div class="card-panel ">
			  <div class="semi">
				  <img src="assets/img/search.png">
			  </div>
              <br>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Lieu</label>
				</div>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Prix max</label>
				</div>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Prix min</label>
				</div>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Surface min</label>
				</div><div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Surface max</label>
				</div>
   
		  </div>
		</div>
	  </div>

<div class="row ct">
  <div class="col s10">
		  
		<div class="row">
			<div *ngFor="let output of FirOutput ">
			   <div class="card col ">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}">
				</div> <br>
				{{output.city }}
					<span>{{output.price }} dt - {{output.surface }} m²</span> <br>
					<small> {{output.RoomNB }} piéces meublé-3eme etage</small>
					<a routerLink="/nav/details/+{{output.id}}">
					<i class="material-icons right">filter_none</i></a>
				<div class="card-content">
			
				</div>
				<div class="card-reveal">
				</div>
			  </div>
		</div></div>
		
  </div>
</div>


 -->  


































<!--  OLD SEARCH BOX  -->
<!--
<br>
<div class="containers">

  <div class="row Sbox"> 
   
    <div class="wrap col s4 m4 l4 xl4">
	  <div class="search">
		 <input type="text" class="searchTerm filter-input" [(ngModel)]="term" placeholder="  Entrez un lieu"  >
	  </div>
	</div>

	<div class="wrap col s3 m3 l4 xl4">
		<div class="search">
		   <input type="text" class="searchTerm" [(ngModel)]="termSurf" placeholder="  Surface min en m²">
		</div>
	</div>

	<div class="wrap col s4 m4 l4 xl4">
		<div class="search">
		   <input type="text" class="searchTerm" [(ngModel)]="termPrice" placeholder="  Prix max en DT" >
		   <button class="searchButton">Chercher</button>
		</div>
	</div>	  
	
  </div>
  

</div>

-->


               <!--  OLD SEARCH BOX  -->
			   <!--  OLD FILTER  -->
			   
			   <!--
  <div class="ct">
	<h4> Les derniers biens à louer  </h4>
	<br>
	<div class="row"> 
	   <div *ngFor="let output of FirOutput | filter:term:'city'">
			<div class="col s3">
			  <img src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img">
			  {{output.city }}
			  <span>{{output.price }} dt - {{output.surface}} m²</span> <br>
			  <small> {{output.RoomNB}} piéces meublé-3eme etage</small>
			</div>
	   </div> 
	</div>   
  </div>  
-->
  
              <!--  /OLD FILTER  -->