<!--COVER SECTION-->


<div class="card special" data-offset-bottom="700" data-offset-top="0" data-spy="affix">
    <div class="card-content">
        <p><span style="font-size: 1.4rem;font-weight: bold; color:#27607a;">{{info.adress}}, {{info.ciy}} </span>
            <br><br>
            ref. INLM000{{info.id}} <br><br>
            <span style="font-size: 35px ; font-weight : bold;"> {{info.price}} dt </span><br>
        </p>
    </div>
    <div class="row">
        <div class="col">&nbsp;&nbsp;
            <a class=" mycard waves-effect waves-light btn ">S + {{info.room_nb}}</a>
        </div>
        <div class="col">
            <a class="mycard waves-effect waves-light btn ">{{info.surface}} m²</a>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    Disponibilité : Immédiate<br><br>
</div>
<div class="cover">
    <a class="coverA waves-effect waves-light btn-large " routerLink="/nav/VirtuelTour">
        <i class="material-icons left">add_a_photo</i>
        Voir les photos,les videos et la visite virtuelle
    </a>
    <img src="http://127.0.0.1:8000/images/houses/{{info.cover}}">

</div>

<!--CARD SECTION-->



<app-mobile-overview [info]='info' ></app-mobile-overview>

<div class="row">

    <div class="col s9">
        <div class="u-container">
            <div class="u-description-headlines">
                <h5> Maison à louer de S+{{info.room_nb}} au {{info.adress}}, {{info.city}} </h5>
                <h6>le logement</h6>
            </div>
            
            <div class="u-description-contact">
                <div class="u-descriptions">
                    
                    <p>
                        {{info.description}}
                    </p>
                    <p>
                        {{info.description2}}
                    </p>
                    <p>
                        {{info.description3}}
                    </p>
                    <p>
                        {{info.description4}}
                    </p>
                    <p>
                        A visiter sur InstaVisit.com
                    </p>
                </div>

                <div class="card-panel ">
                
                    <img src="assets/img/Flogo.png">
                    <div class="card-panel-text">
                        <div>Présenté par<span class="orange-text" style="font-weight: bold;"> Aymen Hamda </span></div>
                        <div>Votre expert immobilier</div>
                        <div>@InstaVisit</div>
                
                    </div>
                
                    <div class="card-panel-phone">
                        <i class="small material-icons left" style="font-weight: bold; color:white;">phone </i>
                        <span class="white-text" style="font-weight: bold;color:white;font-size: 22px; ">50 808 080</span>
                
                    </div>
                
                </div>
            </div>
        </div>

        
    </div>
    
    
</div>


<!---->
<!--CARACTERSITIC SECTION-->
<div class="sec3">
    <div class="row">
        <div class="col s9">


            <div class="u-container">
                <div class="u-table">
                    <div class="u-table-head">
                        {{data.info.title}}
                    </div>
                    <div (click)="ForceShowTableHideMore('info')" [class.force-hide]="forceTable['first']" class="u-table-view-more">
                        {{data.info.more}}
                    </div>
                    <div class="u-table-body" [class.force-show]="forceTable['info']">
                        <!--We format data.info fields into a [[],[],[]] Array-->
                        <div *ngFor="let row of pairData('info'); index as i;" class="u-table-row">
                            <!-- Iterate over each small area of values and titile-->
                            <div *ngFor="let item of row" [class.greyed-out]="item.value == 'Non'" class="u-table-item">
                                <div class="u-table-item-text">
                                    {{item.title}}
                                </div>
                                <div class="u-table-item-data">
                                    {{item.value}}
                                </div>
            
                            </div>
            
                        </div>
            
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;" class="u-container">
                <ng-container *ngFor="let field of ['equipment', 'cuisine', 'ameublement']">
                    <div 
                    *ngIf="field == 'equipment' || forceTable['equipment']"
                    class="u-table-many">
                        <div class="u-table-head">
                            {{data[field].title}}
                        </div>
                        
                        <div class="u-table-body-many" >
                            <!--We format data.info fields into a [[],[],[]] Array-->
                            <div *ngFor="let row of pairData(field); index as i;" class="u-table-row-many">
                                <!-- Iterate over each small area of values and titile-->
                                <div *ngFor="let item of row" [class.greyed-out]="item.value == 'Non'" class="u-table-item-many">
                                    <div class="u-table-item-icon">
                                        <i class="material-icons">{{item.icon}}</i>
                                    </div>
                                    <div class="u-table-item-text">
                                        {{item.title}}
                                    </div>
                                    <div class="u-table-item-data-many">
                                        {{item.value}}
                                    </div>
                
                                </div>
                
                            </div>
                
                        </div>
                    </div>
                </ng-container>
                <div (click)="ForceShowTableHideMore('equipment')"  class="u-table-view-more-many">
                    {{ forceTable['equipment'] ? data.equipment.less : data.equipment.more}}
                </div>
            </div>

            <app-commute-table [commute]='commute'></app-commute-table>
        </div>
        
    </div>
</div>


<div class="sec4">
    <div class="row">
        <div class="col s9">
            <h6>Environnement </h6>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="1100" height="500" id="gmap_canvas"
                        [src]='sanitizer.bypassSecurityTrustResourceUrl(mapsrc)' frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0"></iframe><a href="https://www.maps-erstellen.de"></a></div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 600px;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 600px;
                    }
                </style>
            </div></div></div></div>
           

<!-- Site footer -->
<!--FOOTER-->
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Insta<span>Visit</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">InstaVisit &copy; 2019</p>
        <br>
        <p class="footer-company-name">Powred by Digita</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>21 XXXX Street</span> YYY, Tunis</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+216 555 123 456</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">contact@InstaVisit.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            une agence immobilière dont les processus de location et de vente se font en ligne
            &amp; .
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>

<!--   /TEST NEW FOOTER-->