h5{
    color: rgb(104, 102, 102);
    margin: 37px;
}

.cover img{
  width: 100%;
  height: 390px;
  border-radius: 0%;
  border: none;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-left: 0px;
  margin-top: -6%;
}

.mycard{
  border-radius: 25px;
  font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    height: 40px;
}
.coverA{
    margin-top:200px;
    margin-left:4%;
    border-radius: 25px;
    margin-right: 600px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    position: absolute;
}
.special{
    width: 23%;
    margin-left: 70%;
    margin-right: 2px;
}
.card{
  position:fixed;
}
.card .affix {
    top: 20px;
    z-index: 9999 !important;
    position: fixed;
    display: none;
    right: 20px;
  }
  h6{
    font-weight: bold;
    color: rgb(248, 114, 4);  
    margin: 37px;
  }
  p{
      margin:27px;
      color: rgb(104, 102, 102);
  }
  .col{
      margin:0px !important;
  }
  img{
      border-radius: 50%;
      height: 130px;
      width: 130px;
      margin-left: 43px;
      margin-top: -70px;
      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  }
  .card-panel{
    background-color: rgb(10, 131, 230);
    width: 88%;
  }
  span .white-text{
    margin:15px;
  }
  .sec3{
      background-color: rgb(241, 247, 248);
  }
  table{
      margin: 34px;
      border: 1px solid #ddd;
      padding: 1px;
      box-shadow: 0 3px 2px rgba(85, 85, 85, 0.3);
      background-color: rgb(241, 245, 247);
      font-size: 1.1rem;
  }
  .gras{
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 4px;

  }
  .tableS{
      color: rgb(10, 131, 230);
      font-size: 1.5rem;
  }
  .mapouter{
      margin-left: 34px;
  }

 
/*  FOOTER */
footer{
  position: relative;
  bottom: 0;
  }
  .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 55px 50px;
  margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
  }
  
  .footer-distributed .footer-left{
  width: 40%;
  }
  
  .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
  }
  
  .footer-distributed h3 span{
  color:  #5383d3;
  }
  
  
  .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  }
  
  .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
  
  
  .footer-distributed .footer-center{
  width: 35%;
  }
  
  .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  }
  
  .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
  }
  
  .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
  }
  
  .footer-distributed .footer-right{
  width: 20%;
  }
  
  .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
  margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  
  @media (max-width: 880px) {
  
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }}
  
  /* TEST NEW FOOTER */

  td.table-text-item {
      width: 40%;
      
  }
  .td-icon-text {
      width: 100%;
      display: flex;
      align-items: center;
  }
  .td-icon-text  i {
      margin-right: 6px;
  }
  .u-container {
      width: 100%;
  }
  .u-table {
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      -webkit-box-shadow: 0 15px 35px rgba(0,108,86,0.1), 0 5px 15px rgba(0,0,0,0.07);
        box-shadow: 0 15px 35px rgba(0,108,86,0.1), 0 5px 15px rgba(0,0,0,0.07);
        max-width: 760px;
  }

  .u-table-head {
      width: 100%;
      padding: 12px 10px;
      font-size: 18px;
      font-weight: bold;
      background-color: #F4F6F9;
  }
  .u-table-view-more {
      display: none;
      width: 100%;
      padding: 10px;
      font-size: 14px;
  }
  .u-table-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: 1;
  }
  .u-table-row {
      width: 100%;
      display: flex;
      background-color: #F4F6F9;
      padding: 5px 10px;
  }
  .u-table-row:nth-of-type(odd) {
      background-color: #ffffff;
  }
  .u-table-item {
      width: 50%;
      display: flex;
      padding: 0 3px;
      
  }
  .u-table-item.greyed-out {
      color: grey;
  }
  .u-table-item-text {
      flex-grow: 1;
      font-weight: bold;

  }
  .u-table-item-text, .u-table-item-data {
      font-size: 16px;
      
  }

  .u-table-item-data {
      width: 20%;
      min-width: 36px;
      text-align: center;
  }

  .sec3 {
      background-color: #F4F6F9 !important;
  }

  @media only screen and (max-width: 600px) {
    .u-table-view-more {
        display: block
    }
    .u-table-view-more.force-hide {
        display: none;
    }
    .u-table-body {
        display: none;
    }
    .u-table-body.force-show {
        display: flex;
    }

    .u-table-item {
        flex-direction: column;
    }
    .u-table-head {
        font-size: 16px;
    }
    .u-table-item-data {
        text-align: left;
    }
    .u-table-item-text, .u-table-item-data {
      font-size: 13px;
      
  }
  }