h5{
    color: rgb(104, 102, 102);
    margin: 37px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.cover img{
  width: 100%;
  height: 455px;
  border-radius: 0%;
  border: none;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-left: 0px;
  margin-top: -6%;
}

.mycard{
  border-radius: 25px;
  font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    height: 40px;
    background-color: #1b2337;
    Color: #fab50b;
}
.coverA{
    margin-top:200px;
    margin-left:4%;
    border-radius: 25px;
    margin-right: 600px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    position: absolute;
    background-color : #fab50b;
    color: black;
}
.special{
    width: 23%;
    margin-left: 70%;
    margin-right: 2px;
}
.card{
  position:fixed;
}
.card .affix {
    top: 20px;
    z-index: 9999 !important;
    position: fixed;
    display: none;
    right: 20px;
  }
  h6{
    font-weight: bold;
    color: #27607a;  
    margin: 37px;
  }
  p{
      margin:27px;
      color: rgb(104, 102, 102);
  }
  .col{
      margin:0px !important;
  }
 
  
  span .white-text{
    margin:15px;
  }
  .sec3{
      background-color: rgb(241, 247, 248);
  }
  table{
      margin: 34px;
      border: 1px solid #ddd;
      padding: 1px;
      box-shadow: 0 3px 2px rgba(85, 85, 85, 0.3);
      background-color: rgb(241, 245, 247);
      font-size: 1.1rem;
  }
  .gras{
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 4px;

  }
  .tableS{
      color: rgb(10, 131, 230);
      font-size: 1.5rem;
  }
  .mapouter{
      margin-left: 34px;
  }

 

  .u-description-headlines {
      max-width: 760px;
      margin: 0 auto 20px auto;

  }
  .u-description-headlines h6, .u-description-headlines h5 {
      margin: 20px 0 !important;
      display: block;
  }
  .u-description-contact {
      display: flex;
      justify-content: space-between;;
      align-items: center;
      max-width: 760px;
      margin: auto;
  }
  .u-descriptions {
      display: flex;
      flex-direction: column;
      width: 55%;
  }

  .u-descriptions h5, .u-descriptions p {
      margin: 4px 0;
  }
  .card-panel{
    background-color: #e0a40a;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

   .card-panel img{
      border-radius: 50%;
      height: 130px;
      width: 130px;
      margin-top: -70px;
      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
      display: block;
      margin-bottom: 16px;
  }

  .card-panel-text {
    text-align: center;
    color: rgb(75, 71, 71);
    margin-bottom: 16px;
}
.card-panel-text span{
  color: #27607a;
}
  .card-panel-phone {
      display: flex;
      align-items: center;
  }


  td.table-text-item {
      width: 40%;
      
  }
  .td-icon-text {
      width: 100%;
      display: flex;
      align-items: center;
  }
  .td-icon-text  i {
      margin-right: 6px;
  }
  .u-container {
      width: 100%;
  }
  .u-table {
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      -webkit-box-shadow: 0 15px 35px rgba(0,108,86,0.1), 0 5px 15px rgba(0,0,0,0.07);
        box-shadow: 0 15px 35px rgba(0,108,86,0.1), 0 5px 15px rgba(0,0,0,0.07);
        max-width: 760px;
  }

  .u-table-head {
      width: 100%;
      padding: 12px 10px;
      font-size: 18px;
      font-weight: bold;
      background-color: #F4F6F9;
  }
  .u-table-view-more {
      display: none;
      width: 100%;
      padding: 10px;
      font-size: 14px;
  }
  .u-table-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: 1;
  }
  .u-table-row {
      width: 100%;
      display: flex;
      background-color: #F4F6F9;
      padding: 5px 10px;
  }
  .u-table-row:nth-of-type(odd) {
      background-color: #ffffff;
  }
  .u-table-item {
      width: 50%;
      display: flex;
      padding: 0 3px;
      
  }
  .greyed-out {
      color: grey;
  }
  .u-table-item-text {
      flex-grow: 1;
      font-weight: bold;

  }
  .u-table-item-text, .u-table-item-data {
      font-size: 16px;
      
  }

  .u-table-item-data {
      width: 20%;
      min-width: 36px;
      text-align: center;
  }

  .sec3 {
      background-color: #F4F6F9 !important;
  }

  @media only screen and (max-width: 600px) {
    .u-table-view-more {
        display: block
    }
    .u-table-view-more.force-hide {
        display: none;
    }
    .u-table-body {
        display: none;
    }
    .u-table-body.force-show {
        display: flex;
    }

    .u-table-item {
        flex-direction: column;
    }
    .u-table-head {
        font-size: 16px;
    }
    .u-table-item-data {
        text-align: left;
    }
    .u-table-item-text, .u-table-item-data {
      font-size: 13px;
      
  }
  }

  @media only screen and (max-width: 890px) {
      .col.s8 {
          width: 100% !important;
      }
    .card.special {
        display: none;
    }
    .u-description-contact {
        flex-direction: column;
        align-items: center;
    }

    .u-descriptions {
        width: 100%;
        margin-bottom: 50px;
    }
    .card-panel {
        width: 100%
    }

    .u-container {
        width: 90%;
        margin: 0 auto;
    }
  }