
<!--COVER SECTION-->

 
<div class="card special"  data-offset-bottom="700" data-offset-top="0" data-spy="affix">
    <div class="card-content">
      <p><span style="font-size: 1.4rem;font-weight: bold; color:orangered;">44, rue Farhat hachat, Tunis </span>
          <br><br>
          ref. INV000{{info.id}} <br><br>
         <span style="font-size: 1.1rem ; font-weight : bold;"> 450 dt par moins</span>(dont 100 DT de charges)<br>
         </p>
    </div>
   <div class="row">
     <div class="col">&nbsp;&nbsp;
      <a class=" mycard waves-effect waves-light btn grey">S + 3</a>
     </div>
     <div class="col">
      <a class="mycard waves-effect waves-light btn grey">450 m²</a>
     </div>
   </div>
   &nbsp;&nbsp;&nbsp;&nbsp;
   Disponibilité : Immédiate<br><br>
  </div>
  <div class="cover">
      <a class="coverA waves-effect waves-light btn-large blue" routerLink="/nav/VirtuelTour">
          <i class="material-icons left">add_a_photo</i>
          Voir les photos,les videos et la visite virtuelle
        </a>
  <img src="http://127.0.0.1:8000/images/houses/{{info.cover}}">
  
</div>
<!--OLD COVER
<div class="cover" style="background-image: url('http://127.0.0.1:8000/images/houses/{{info.mainIMG}}');">
    <div class="row">
          <div class="col s6">
              <a class="coverA waves-effect waves-light btn-large blue"><i class="material-icons left">add_a_photo</i>Voir les photos,les videos et la visite virtuelle</a>
            </div>
          <div class="col s6">
     
        </div>
        
      </div>
-->
    
    
    <!--CARD SECTION-->
    <br>
    <div class="row">
      <div class="col s5 m5">
        <!-- <div class="row"> -->
            <!--<div class="col s7"> --> 
                <h5> Maison à vendre d'un T{{info.RoomNB}}  au {{info.adress}}, 92000, {{info.city}} </h5>
    
                 <h6>le logement</h6>
    
                 <p>
    
        Csqdddqdsqdsdqsdqsdsdsdsdsdsdsd<br>
         vous proposons ce 3 pièces de dsdsdsdsdsdsdsdsdsdsds <br> 
         avec des matériaux de qualité.<br> <br>
    
        sdsdsdsdsdsdsds<br>
         édsdsdsdsd propose<br>
        tout l'équipedsdschine à café...
        <br> <br>
        C'est esdsdsdsdsdsds <br>
         (lit gigogne dans l'une d'elle). L'appartement dispose d'une salle <br><br>
         d'eau et d'dsdsdsé.
         <br>Appartement disponible de suite. <br> <br>
        
        A  visiter sur InstaVisit.com
    
                 </p>
               </div>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <div class="col s3 m3">
                 <!-- <div class="row"> -->
                         
                          <div class="card-panel ">
                            
                              <img src="assets/img/Nada.jpg">
    
                            <span class="white-text">
                              <br> <br> 
                              Présenté par<span class="orange-text" style="font-weight: bold;"> Aymen Hamda </span> <br>
                              Votre expert immobilier <br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;@InstaVisit
                            </span><br> <br>
                            <i class="small material-icons left"  style="font-weight: bold; color:white;">phone </i>
                             <span class="white-text" style="font-weight: bold;color:white;font-size: 22px; ">50 808 080</span>
                          </div>
                      
                     
                    </div>
             <!--<div>  </div>-->  
           
    
             <div class="col s4 m4">
                Empty space
            </div>  
      </div>
       
    
    <!---->
    <!--CARACTERSITIC SECTION-->
    <div class="sec3">
    <div class="row">
      <div class="col s8">
          <h6>Caractéristiques</h6>
          
          <table class="striped highlight responsive-table">
              <thead>
                <tr>
                    <th class="tableS">Informations essentielles</th>
                    <th></th>
                    <th></th>
                </tr>
              </thead>
      
              <tbody>
              <!--  <tr>
                  <td class="gras">Parking</td>
                  <td>
                      <div *ngIf="parking[0].parking == true; else elseBlock">Oui</div>
                      <ng-template #elseBlock>Non</ng-template>
                    
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      &nbsp;&nbsp;</td>
                     
                </tr>
                <tr>
                  <td class="gras">Box / garage</td>
                  <td>	
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                       Étage</span></td>
                  <td>{{parking[0].etage}} </td>
                </tr>-->
                <tr>
                  <td class="gras">Cave</td>
                  <td>
                      <div *ngIf="parking[nb].cave == true; else elseBlock">Oui</div>
                      <ng-template #elseBlock>Non</ng-template>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                      Gardienne</span>
                    </td>
                  <td>
                      <div *ngIf="parking[nb].garden == true; else elseBlock">Oui</div>
                      <ng-template #elseBlock>Non</ng-template>
                  </td>
                </tr>
                <tr>
                    <td class="gras">Étage</td>
                    <td>
                        09/11
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                      Ascenseur</span></td>
                    <td> 
                        Oui
                      
                    </td>
                  </tr>
                  <tr>
                      <td class="gras">Box/Garage</td>
                      <td>
                        
                           Non

                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                        Parking</span></td>
                      <td> 
                          Oui
                          Non
                      </td>
                    </tr>
              </tbody>
            </table>
    
     
          <table class="striped highlight responsive-table">
              <thead>
                <tr>
                    <th class="tableS">
                        Équipement</th>
                    <th></th>
                    <th></th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                    
                  <td class="gras">
                      <i class="material-icons">wc</i>	
                    Toilettes séparés</td>
                  <td>Non   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                          <i class="material-icons">speaker</i>	
                          Lave-linge </span></td>
                  <td>Oui</td>
                </tr>
                <tr>
                  <td class="gras">
                      <i class="material-icons">chrome_reader_mode</i>
                    Interphone</td>
                  <td>Non	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;">
                          <i class="material-icons">highlight</i> 
                          Raccordement machine</span></td>
                  <td>11 / 16</td>
                </tr>
                <tr>
                  <td class="gras">
                      <i class="material-icons">wifi</i>
                    Raccordement internet</td>
                  <td>Non	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                          <i class="material-icons">drafts</i>
                          Boite aux lettres</span></td>
                  <td>Oui</td>
                </tr>
              </tbody>
            </table>
   
            
    <!--EQUIPEMENT DANS LOUER-->
             
    
    
    
    
      </div>
      <div class="col s4">
      
      </div>
    </div>
    </div>
    
    
    <div class="sec4">
        <div class="row">
          <div class="col s8">
              <h6>Environnement </h6>
              <div class="mapouter">
                  <div class="gmap_canvas">
                  <iframe width="1100" height="500" id="gmap_canvas" 
                  src='https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Cit%C3%A9%20Taffala%204003%2C%20Sousse+(Titre)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed' frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.maps-erstellen.de"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                <!-- Secial 20% Discount for Elegant Themes Divi Page Builder https://www.embedgooglemap.net/divi-sale/ -->
    
      <br> <br>
    
    
      <table class="striped highlight responsive-table">
          <thead>
            <tr>
                <th> <i class="material-icons">directions_bus</i>
                    Bus</th>
                <th>  <i class="material-icons">directions_railway</i>
                  Metro</th>
                <th> <i class="material-icons">directions_subway</i>
                  Train</th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
                
              <td>
                  <i class="material-icons">pin_drop</i>
                  Station XXX	
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <span style="font-size: 1.4rem;text-transform: capitalize;">
                        800 m</span> 	
                </td>
              <td><i class="material-icons">pin_drop</i>
                Station Barce   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  &nbsp;&nbsp;
                  <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                          
                      750 m </span></td>
              <td><i class="material-icons">pin_drop</i>
                Station XXX</td>
                <td>2100 M</td>
            </tr>
            <tr>
              <td>
                  
                  <i class="material-icons">local_car_wash</i>&nbsp;&nbsp;Louage
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
              </td>
              <td> </td>
              <td></td>
            </tr>
            <tr>
              <td class="gras">

                  <i class="material-icons">pin_drop</i> 
                 Station XXX
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                      900 M</span>
                  
               </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    
    
    
      </div>
      <div class="col s4">
        Empty space
      </div>
    </div> 
    </div>   
    
    
    
      <!-- Site footer -->
               <!--FOOTER-->
  <footer class="footer-distributed">
 
      <div class="footer-left">
   
      <h3>Insta<span>Visit</span></h3>
   
      <p class="footer-links">
      <a href="#">Home</a>
    ·
      <a href="#">Blog</a>
    ·
      <a href="#">Pricing</a>
    ·
      <a href="#">About</a>
    ·
      <a href="#">Faq</a>
    ·
      <a href="#">Contact</a>
      </p>
   
      <p class="footer-company-name">InstaVisit &copy; 2019</p>
      <br>
      <p class="footer-company-name">Powred by Digita</p> 
      </div>
   
      <div class="footer-center">
   
      <div>
      <i class="fa fa-map-marker"></i>
      <p><span>21 XXXX Street</span> YYY, Tunis</p>
      </div>
   
      <div>
      <i class="fa fa-phone"></i>
      <p>+216 555 123 456</p>
      </div>
   
      <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">contact@InstaVisit.com</a></p>
      </div>
   
      </div>
   
      <div class="footer-right">
   
      <p class="footer-company-about">
      <span>About the company</span>
      une agence immobilière dont les  processus de location et de vente  se font en ligne 
     &amp; .
      </p>
   
      <div class="footer-icons">
   
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
   
      </div>
   
      </div>
   
      </footer>
  
   <!--   /TEST NEW FOOTER-->   
