
<div class="QuiSomme" id="wave">
  <br>
  <br>
  <br>
  <div class="container">
    <h4>Qui sommes nous ?</h4>
  </div><br>
  <p>Nous somme une agence immobilière dont les  processus de location et de vente 
     se font en ligne .Notre ambition est de devenir le leader de la gestion des locations 
     et des ventes dans toute la Tunisie. Nous mettons la technologie à votre service à moindres 
     coûts pour vous fournir un service plus qualitatif et réactif que celui des acteurs 
     traditionnels.</p>
 <br>
 <br>
</div> 
<br>   
             <!-- A PROPOS -->        
<div class="aboutus">
  <h4>À PROPOS</h4>
<br> <br> <br>
 <div class="row">
   <div class="col s6">
     <div class="i1">
       <div class="row">
         <div class="col s6">
             <img src="assets/img/Nada.jpg" >
         </div>
         <div class="col s6">
            <p>
              <span>AYMEN HAMDA</span><br>dqskdkqlddsdqdqsdsq<br>
              dsqdsdqdsqdqdqdkf<br>dsdqdfsqdsqdsds<br>
              </p>
              <div class="row social">
                <div class="col"><img src="assets/img/facebook.png"></div>
                <div class="col"><img src="assets/img/instagram.png"></div>
                <div class="col"><img src="assets/img/linkedin.png"></div>                 
              </div>
            
         </div>
    </div>
    </div>
   </div>
   <div class="col s6">
     <div class="i2">
       <div class="row">
         <div class="col">
           <img src="assets/img/Nada2.jpg" >
         </div>
         <div class="col">
            <p>
              <span>NADA ABIDI</span><br>dqskdkqdsdqqsdqqld<br>
              dsdqdqsdqsdqsdqds<br>sdqdqdkfdf<br>
            </p>
            <div class="row social">
                <div class="col"><img src="assets/img/facebook.png"></div>
                <div class="col"><img src="assets/img/instagram.png"></div>
                <div class="col"><img src="assets/img/linkedin.png"></div>                 
              </div>
         </div>
       </div>
    </div>
   </div>
 </div> <br><h4>NOTRE PARTENAIRE</h4><br><br>
  <div class="i3">
    <div class="row">
      <div class="col">
       <img src="assets/img/Digita.png">
      </div>
      <div class="col">
          <p>
            <span>DIGITA</span><br>agence de marketing digital<br>sa role est d'assiter
             les petites <br>
             entreprises pour se lancer en marché
          </p>
          <div class="row social">
              <div class="col"><img src="assets/img/facebook.png"></div>
              <div class="col"><img src="assets/img/instagram.png"></div>
              <div class="col"><img src="assets/img/linkedin.png"></div>                 
            </div>
      </div>
    </div>
  </div>
</div>
             <!-- /A PROPOS -->
<br> <br> <br>
             <!-- NESLETTER -->
<form [formGroup]="form" action="" >             
<div class="newsletter">

  <br><br><br> <br><br>
  <h3>NOS ACTUALITÉS</h3> <br><br><br><br>
  <h5>Abonnez-vous à notre Newsletter pour recevoir nos nouveautés !</h5><br><br><br><br>
  <div class="container subs">
      <div class="row Form-box">
          <input type="email" formControlName="newsletter" name="email" 
          class="col s9 Browser default input search-field browser-default location"
           placeholder="Entrez votre adress mail !"
           [ngClass]="{ 'is-invalid': submitted && form.email.errors }" required>
           <!--
           <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger">
              <!-- I did not remove this  dd
              <div *ngIf="form.controls['email'].errors.required">
                <br>Name is required.
              </div>
               
          </div>-->
          <label for="email" class="controle-label">email</label>
          <button type="button"  [disabled]="form.pristine || form.invalid" (click)="newMail()" name="action" class="col s3 search-bt waves-effect waves-light btn  Browser-default">s'abonner</button>
          
      </div>      

  </div>
</div>
</form>
             <!-- NESLETTER -->
<!-- Previous-->
<!--
  <div class="container">
    <div class="section" >
       <h4 style=" text-align: center; color:rgb(82, 82, 82); font-size: 1.9rem;">See How we operate</h4>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img src="assets/img/logos/workflow_1.png"></h2>
            <h5 class="center">Choose location</h5>

            <p class="light">Nous somme une agence immobilière dont les  processus de location et de vente  se font en ligne .Notre ambition est de devenir le leader de la gestion des  locations et des ventes dans toute la Tunisie. Nous mettons la technologie à votre service à moindres coûts pour vous fournir un service plus qualitatif et réactif que celui des acteurs traditionnels. 
              </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img src="assets/img/logos/workflow_2.png"></h2>
            <h5 class="center">Find the perfect home</h5>

            <p class="light">Chaque appartement que nous mettons en location ou en vente bénéficie d'une description fidèle, précise et complète. Nous capitalisons notamment sur les dernières technologies (photos 360, visites virtuelles, vidéos et plan 2D) .Notre objectif est de simplifier l’accès à la vente et  la location dans un marché saturé et relativement traditionnel. Notre positionnement e
              </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><img src="assets/img/logos/workflow_3.png"></h2>
            <h5 class="center">Move in your new life</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
-->
<br> <br> <br> <br>
<div class="contact">
  <h4>Veillez laisser vos messages ou postez vos questions</h4>
</div>
<div class="container" style="margin-top:90px;">
  <div class="card-panel z-depth-5">
<div class="row">
<div class="col s12 m6">



<h4 class="center"> Contactez-nous</h4>	 
<div class="row">
<form class="col s12 m12" [formGroup]="formContact" action="">
<div class="row">
<div class="input-field col s12 m12">
  <i class="mdi-action-account-circle prefix"></i>
  <input id="icon_prefix" type="text" class="validate" formControlName="name"
   [ngClass]="{ 'is-invalid': submitted }">
  <label for="icon_prefix">Votre nom</label>
  <div *ngIf="formContact.controls['name'].invalid && (formContact.controls['name'].dirty || formContact.controls['name'].touched)" class="alert alert-danger">
    <div *ngIf="formContact.controls['name'].errors.required">
      Name is required.
    </div>
     
</div>
</div>

<div class="input-field col s12 m12">
  <i class="mdi-communication-email prefix"></i>
  <input id="icon_email" type="email" class="validate" formControlName="email"
  [ngClass]="{ 'is-invalid': submitted }">
  <label for="icon_email">Votre email</label>
</div>

 <div class="input-field col s12 m12">
    <i class="mdi-editor-mode-edit prefix"></i>
    <textarea id="icon_prefix2" class="materialize-textarea" formControlName="message"
    [ngClass]="{ 'is-invalid': submitted }">
    </textarea>
    <label for="icon_prefix2">Message</label>
  </div>

  
</div><!--row-->
</form>

</div><!--row-->
<button class="btn waves-effect waves-light center blue" type="submit" 
  [disabled]="formContact.pristine || formContact.invalid" (click)="newContact()" name="action">
  Envoyer votre message&nbsp;
  <i class="mdi-content-send"></i>
</button>



</div><!--col-->





<div class="col s12 m5 offset-m1">
<br>
<br>
<p>
123 IMAGINARY ST, SUITE 100 <br>
XXXXX, IL 30314
</p>
<iframe src="https://maps.google.com/maps?q=tunisia&t=&z=13&ie=UTF8&iwloc=&output=embed" 
width="300" height="300" frameborder="0" style="border:0"></iframe>
</div>



</div><!--row-->
</div><!--card-->
</div><!--conatiner-->


        <!--FOOTER-->
        
         <!--  /TEST NEW FOOTER -->
         <footer class="footer-distributed">
 
            <div class="footer-left">
         
            <h3>Insta<span>Visit</span></h3>
         
            <p class="footer-links">
            <a href="#">Home</a>
          ·
            <a href="#">Blog</a>
          ·
            <a href="#">Pricing</a>
          ·
            <a href="#">About</a>
          ·
            <a href="#">Faq</a>
          ·
            <a href="#">Contact</a>
            </p>
         
            <p class="footer-company-name">InstaVisit &copy; 2019</p>
            <br>
            <p class="footer-company-name">Powred by Digita</p> 
            </div>
         
            <div class="footer-center">
         
            <div>
            <i class="fa fa-map-marker"></i>
            <p><span>21 XXXX Street</span> YYY, Tunis</p>
            </div>
         
            <div>
            <i class="fa fa-phone"></i>
            <p>+216 555 123 456</p>
            </div>
         
            <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">contact@InstaVisit.com</a></p>
            </div>
         
            </div>
         
            <div class="footer-right">
         
            <p class="footer-company-about">
            <span>About the company</span>
            une agence immobilière dont les  processus de location et de vente  se font en ligne 
           &amp; .
            </p>
         
            <div class="footer-icons">
         
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
         
            </div>
         
            </div>
         
         </footer>
         <!--   /TEST NEW FOOTER--> 