/* About Section */
@media(max-width: 480px){
	.img-responsive{
		max-width: 90%;
	}
}
.card-stacked{
	background-color: #94bdf1;
}
.instac{
	color: #fda701;
}
#about {
	padding: 120px 0;
	background: #f6f6f6;
}
#about .about-text {
	margin-left: 10px;
}
#about .about-text h3 {
	font-weight: 400;
	color: #00b28e;
}
#about img {
	float: right;
}
#about p {
	margin: 30px 0;
	line-height: 22px;
}
/* Services Section */
#services {
	padding: 120px 0;
}
#services h4 {
	color: rgb(77, 139, 197);
	text-transform: uppercase;
}
#services i.fa {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	background: rgb(77, 139, 197);
	border-radius: 50%;
}

/* Portfolio Section */
#portfolio {
	padding: 120px 0;
	background: #f6f6f6;
}
/* team section */
@media (min-width:992px) and (max-width:1199px) {
	
	.single_team_img img{
		width:100%;
	}		
	}
	.team{
		padding:80px 0px;
	}

	.single_team{
		margin-top:50px;
	}
	.single_team_img{
		position:relative;
	}
	.single_team_img2 img{
		width:50%;
		height: 22vw;
	}
	.single_team_img img{
		width:100%;
		height: 30vw;
	}
	.single_team_overlay img{
		height: 20px;
		width: 20px;
	}
	@media (max-width:600px){
		.single_team_img img{
			width:100%;
			height: 200px;
		}
		.single_team_overlay img{
			height: 20px;
			width: 20px;
		}
	}
	.single_team_img:hover .single_team_overlay{
		opacity:1;
	}

	.single_team_name h4{
		font-size:17px;
		color:#333b46;
		font-family:'Roboto';
		font-weight:500;
	}
	.single_team_name p{
		font-size:12px;
		font-family:'Roboto';
		font-weight:300;	
	}
	
	.single_team_overlay{
		position:absolute;
		background:#3d87e8;
		width:90%;
		padding:20px 10px;
		left:5%;
		bottom:5%;
		opacity:0;
		transition:.6s;	
	}
	.single_team_overlay p{
		color:#fff;
	}
	.single_team_overlay a{
		margin-left:5px;
	}
	.single_team_overlay a i{
		border: 2px solid #fff;
		color: #fff;
		font-size: 20px;
		width: 35px;
		height: 35px;
		line-height: 33px;
		text-align: center;
		border-radius: 50%;
		margin-top: 20px;
	}
/* /team */
.QuiSomme{
	background-color: #dbebfa;
}
.QuiSomme h4{
	text-align: center;
	color: rgb(74, 76, 77);
	margin: 0 auto;
	margin-left: 22%;
}
.QuiSomme p{
	font-size: 17px;
	text-align:center;
	color: rgb(47, 50, 51);
	margin-right: 8%;
	margin-left: 8%;
}

/* AboutUs */
.aboutus h4{
	text-align: center;
	color: rgb(74, 76, 77);
	margin: 0 auto;
}
.aboutus img{
	border-radius: 50%;
	height: 130px;
	width: 130px;
	margin-left: 43px;
	margin-top: -70px;
	border: 1.2px solid rgb(161, 207, 250);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	
}

.i1 {
	margin-top: 1%;
	margin-left:30%;
}
.i1 img {
	margin-top: 2%;
}
.i2{
	margin-top: 1%;
	margin-left: 19%;
}
.i2 img {
	margin-top: 2%;
	
}
.i3 {
	margin-left:38%;

}
.i3 img{
	margin-top: 5%;
	
}
.social{
		margin-right: -50px !important;
}
.social img{
	align-items: center;
	border-radius: 0%;
	height: 20px;
	width: 20px;
	border: none;
	cursor: pointer;
	margin-left: 2pxs;
}
.aboutus span{
	color: rgb(73, 131, 218);
	font-style: bold;
	font-size: 1.50em;
}
/* /AboutUS */


/* NEWSLETTER */
.newsletter{
	background-image: url("/assets/img/newsletter1.jpeg");
	position: relative;
	background-size: 100% 100%;
	height: 600px;
	color:white;
}
.newsletter:before{
	
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.newsletter h3{
	margin-left: 37%;
    position: absolute;
}

.newsletter h5{
	margin-left: 21%;
	position: absolute;
	margin-top: 10px;
}
@media(max-width:890px){
	.newsletter h5{
		margin-left: 5%;
		position: absolute;
		margin-top: 10px;
	}
	iframe{
		width: 270px !important;
	}
}
@media(max-width:780px){
	.newsletter h5{
		margin-left: 5%;
		position: absolute;
        margin-top: -7px;
	}
	.newsletter .search-bt{
		height: 60px;
		width: 70vw !important;
	}
	.newsletter .input{
		width: 70vw !important;
	}
	.newsletter .Form-box{
		margin-left: 7% !important;
	}
	.newsletter h3{
		font-size: 2.30em;
		position: absolute;
		margin-top: -3px;
		margin-left: 22%;
	}
	iframe{
		width: 250px !important;
	}
}

.subs{
	border:none;
}
.container .subs:after{
	background-color: #0b2c64;
	position: relative;
}
.newsletter .search-field{
	height: 50px;
	padding: 10px;
	border: none;
	outline:none;
  }
 .newsletter .input{
	position: relative;
	display:inline-block;
	font-size:20px;
	box-sizing: border-box;
	transition: .5s;
	background: #fff;
	width: 40vw;
	height:50px;
	border:none;
	padding: 0 20px;
	border-radius:25 px 0 0 25px;
  }
  @media(max-width:990px){
	.newsletter .input{
		position: relative;
		display:inline-block;
		font-size:18px;
		box-sizing: border-box;
		transition: .5s;
		background: #fff;
		width: 55vw;
		height:50px;
		border:none;
		padding: 0 20px;
		border-radius:25 px 0 0 25px;
	  }

  } 
 
 .newsletter .Form-box{
	 margin-left: 15%;
	 color: #292c2f;
 }
 .newsletter .search-bt{
	 height: 50px;
	 width: 12vw;
	 background: #4d8cdd;
	 border:none;
	 color: rgb(255, 255, 255);
	 /*border-radius: 25px;*/
	 position: relative;
   /*  border-radius: 0 25px 25px 0;*/
	 outline:none;
	 cursor:pointer;
 }
 @media(max-width:480px){
	.newsletter .search-bt{
		height: 50px;
		width: 70vw;
		background: #4d8cdd;
		border:none;
		color: rgb(255, 255, 255);
		position: relative;
		outline:none;
		cursor:pointer;
	}
	.newsletter .input{
		width: 70vw;
	}
	.newsletter h5{
		margin-left: 7%;
		position: absolute;
		margin-top: -15px;
		font-size: 1.4em;
	}
	.newsletter h3{
		font-size: 2.00em;
		position: absolute;
		margin-top: -10px;
		margin-left: 15%;
	}
	
 }

/* /NEWSLETTER */


/* CONTACT */
@media(max-width:600px){
	iframe{
		width: 288px !important;
	}
}
@media(max-width:350px){
	iframe{
		width: 230px !important;
	}
}
.contact h4{
	text-align: center;
	color: rgb(74, 76, 77);
	margin: 0 auto;
}
span {
	display: inline-block;
	text-align: center;
/*	margin-left: 270px;*/
	line-height: normal;
   }
