


  <div class="container">
    <div class="section" >
       <span style=" text-align: center; color:rgb(82, 82, 82); font-size: 1.9rem;">See How we operate</span>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img src="assets/img/logos/workflow_1.png"></h2>
            <h5 class="center">Choose location</h5>

            <p class="light">Nous somme une agence immobilière dont les  processus de location et de vente  se font en ligne .Notre ambition est de devenir le leader de la gestion des  locations et des ventes dans toute la Tunisie. Nous mettons la technologie à votre service à moindres coûts pour vous fournir un service plus qualitatif et réactif que celui des acteurs traditionnels. 
              </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><img src="assets/img/logos/workflow_2.png"></h2>
            <h5 class="center">Find the perfect home</h5>

            <p class="light">Chaque appartement que nous mettons en location ou en vente bénéficie d'une description fidèle, précise et complète. Nous capitalisons notamment sur les dernières technologies (photos 360, visites virtuelles, vidéos et plan 2D) .Notre objectif est de simplifier l’accès à la vente et  la location dans un marché saturé et relativement traditionnel. Notre positionnement e
              </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><img src="assets/img/logos/workflow_3.png"></h2>
            <h5 class="center">Move in your new life</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

<div class="container" style="margin-top:90px;">
  <div class="card-panel z-depth-5">
<div class="row">
<div class="col s12 m6">



<h4 class="center"> Material Contact form</h4>	 
<div class="row">
<form class="col s12 m12">
<div class="row">
<div class="input-field col s12 m12">
  <i class="mdi-action-account-circle prefix"></i>
  <input id="icon_prefix" type="text" class="validate">
  <label for="icon_prefix">Username</label>
</div>

<div class="input-field col s12 m12">
  <i class="mdi-communication-email prefix"></i>
  <input id="icon_email" type="email" class="validate">
  <label for="icon_email">Your Email</label>
</div>

 <div class="input-field col s12 m12">
    <i class="mdi-editor-mode-edit prefix"></i>
    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
    <label for="icon_prefix2">Message</label>
  </div>

  
</div><!--row-->
</form>

</div><!--row-->
<button class="btn waves-effect waves-light center blue" type="submit" name="action">Send your message&nbsp;
<i class="mdi-content-send"></i>
</button>



</div><!--col-->





<div class="col s12 m5 offset-m1">
<br>
<br>
<p>
123 IMAGINARY ST, SUITE 100 <br>
XXXXX, IL 30314
</p>
<iframe src="https://maps.google.com/maps?q=tunisia&t=&z=13&ie=UTF8&iwloc=&output=embed" 
width="300" height="300" frameborder="0" style="border:0"></iframe>
</div>



</div><!--row-->
</div><!--card-->
</div><!--conatiner-->


