 <!-- ***** Features Big Item End ***** -->
<h1>Pour quoi instavisit ?</h1>
 <div class="left-image-decor"></div>

 <!-- ***** Features Big Item Start ***** -->
 <section class="section" id="promotion">
     <div class="container">
         <div class="row">
             <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big">
                 <img src="assets/img/lava/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
             </div>
             <div class="right-text offset-lg-1 col-lg-6 col-md-10 col-sm-10 mobile-bottom-fix">
                 <ul>
                     <li>
                         <img src="assets/img/lava/about-icon-01.png" alt="">
                         <div class="text">
                             <h4>Évitez les déplacements inutiles</h4>
                             <p>Vous évitez les déceptions et les déplacements inutiles, En visionnant la visite virtuelle en ligne, vous pouvez vous faire une première impression du bien.</p>
                         </div>
                     </li>
                     <li>
                         <img src="assets/img/lava/about-icon-02.png" alt="">
                         <div class="text">
                             <h4>Une description fidèle</h4>
                             <p>Une description fidèle et précise de Chaque bien que nous mettons en location ou en vente.</p>
                         </div>
                     </li>
                     <li>
                         <img src="assets/img/lava/about-icon-03.png" alt="">
                         <div class="text">
                             <h4>Une Visite virtuelle</h4>
                             <p>Vous Faites découvrir le logement de vos rêves à votre famille ou amis éloignés à tout moment via votre Smartphone, votre Tablette ou votre ordinateur à travers la visite virtuelle.</p>
                         </div>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
 </section>
 <!-- ***** Features Big Item End ***** -->