
        
   <br>
   <div class="ssr">
    <div class="row">
      <div class="col  col-lg-2">
        <mat-form-field appearance="outline" class="ref">
          <mat-label>Ref</mat-label>
          <input matInput placeholder="INS000***" [(ngModel)]="ref" >
          <mat-hint>tapez nombre le ref</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col  col-lg-3" >
        <mat-form-field appearance="outline">
          <mat-label>Lieu</mat-label>
          <input matInput placeholder="Placeholder" value="{{ParamService.foo}}"  [(ngModel)]="term">
          <mat-icon matSuffix>find_replace</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    

      
    </div>
  
          
    </div>    
   
   <div class="ct">

    <div class="row cards-container">
      <div class="cardqs col" *ngIf="FirOutput.length==0"><span id="loading2"></span></div>
      <div *ngFor="let output of pageOfItems ">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/house.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> {{output.city}}</h5>
            <span>{{output.surface }} m²</span>
            <p class="card-text">{{output.description}}</p>
            <a routerLink="/instavisit_cafe/detailles/+{{output.id}}" class="btn btn-primary">Détails</a>
          </div>
        </div>
      </div>
     
    </div>


     
       
    <div class="pb-0pt-3">
              <jw-pagination2 [items]="FirOutput  | filter:term:'city' | filter:ref:'refr'
              " (changePage)="onChangePage($event)"></jw-pagination2>
          </div>
    </div>
      

    <!--
                   <img class="activatorh" src="https://instavisit.tn/InstaVisit_B/public/images/houses/{{output.main}}"></a>

    -->