
        
   <br>
   <div class="ssr">
    <div class="row">
      <div class="col  col-lg-2">
        <mat-form-field appearance="outline" class="ref">
          <mat-label>Ref</mat-label>
          <input matInput placeholder="INLN000***" [(ngModel)]="ref" >
          <mat-hint>tapez nombre le ref</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col col-lg-3" >
        <mat-form-field appearance="outline">
          <mat-label>Lieu</mat-label>
          <input matInput placeholder="Placeholder" value="{{ParamService.foo}}"  [(ngModel)]="term">
          <mat-icon matSuffix>find_replace</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col col-lg-2">
        <label>Nombre de chambre</label>
        <select class="browser-default" [(ngModel)]="room">
          <option value=""  selected>S+</option>
          <option value="1">S + 1</option>
          <option value="2">S + 2</option>
          <option value="3">S + 3</option>
          <option value="4">S + 4</option>
          <option value="5">S + 5</option>
          <option value="6">S + 6</option>
        </select>
      </div>

      
    </div>
     <div class="row">
       <div class="col col-lg-3">
          <mat-label>Prix max: </mat-label>
          <mat-slider
             thumbLabel
             [displayWith]="formatLabel"
             tickInterval="100"
             min="0"
             max="10000" [(ngModel)]="maxPrice">
          </mat-slider>
          &nbsp;&nbsp;&nbsp;&nbsp;
       </div>
      <div class="col  col-lg-3">
          <mat-label>Prix min: </mat-label>
          <mat-slider
          thumbLabel
          [displayWith]="formatLabel2"
          tickInterval="100"
          min="0"
          max="100" [(ngModel)]="minPrice">
       </mat-slider>
       &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col col-lg-3">
        <a routerLink="/instavisit_immobilier/logement_a_louer_non_meuble_filtre" mat-raised-button color="primary" style="background-color: black; color: #FDA701;">Biens non meublés <i class="material-icons">keyboard_arrow_right</i></a>
        <!--
          <select class="browser-default" >
            <option  [value]="Z" disabled selected>type</option>
            <option [value]= "M" >Meublé</option>
            <option [value]= N > <a routerLink="/nav/about" >Non meublé</a> </option>
          </select>-->
      </div>
     </div>   
          
    </div>    
   
   <div class="ct">
     
        
     
         
    <div class="row cards-container">
      <div class="cardqs col" *ngIf="FirOutput.length==0"><span id="loading2"></span></div>
      <div *ngFor="let output of pageOfItems ">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/house.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> {{output.ciy}}</h5>
            <span>{{output.surface }} m²</span>
            <p class="card-text">{{output.description}}</p>
            <a routerLink="/instavisit_immobilier/lmdetailles/+{{output.id}}" class="btn btn-primary">Détails</a>
          </div>
        </div>
      </div>
     
    </div>
      
            <div class="pb-0pt-3">
              <jw-pagination2 [items]="FirOutput  | filter:term:'ciy' | filter:ref:'refr' | filter:room:'room_nb'
              | filter4:minPrice:'price' | filter3:maxPrice:'price'" (changePage)="onChangePage($event)"></jw-pagination2>
          </div>
    </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
 
