:host {
    background-color: rgb(145, 186, 248);
    size: 200px 200px;
    display: block;
}

mat-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 39%;
}


img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-right: -45%;
    margin-left: 45%;
    top: -3%;
    position: absolute;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
}