<nav>
    <div class="nav-wrapper">
        
        <h1 id="fh5co-logo"><a href="index.html">
            <img src="assets/img/Logo1.png" style="max-width: 100%;"> </a></h1>
     
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/nav/welcome">ACCUEIL</a> &nbsp;</li>
        <li><a routerLink="/nav/searchlouer">A LOUER</a>&nbsp;</li>
        <li><a routerLink="/nav/searchvente">A VENDRE</a>&nbsp;</li>
        <li><a routerLink="/nav/about">CONTACT</a>&nbsp;</li>
      </ul> 
    </div>
  </nav>
  <router-outlet></router-outlet>