<div class="container">
    <div class="card">
        
      <div class="front">
         <div class="row">
             <div class="col s6 m6 l6">
                    <h3>Notre partenaire </h3>
                    <p>Vous voulez en savoir plus à propos de notre partenaire ?</p>
             </div>
             <div class="col s6 m6 l6">
                <div class="logo"><img src='/assets/img/Digita.png'></div><br>
                <div class="row social">
                  <div class="col"><img src="assets/img/facebook.png"></div>
                  <div class="col"><img src="assets/img/instagram.png"></div>
                  <div class="col"><img src="assets/img/linkedin.png"></div>                 
                </div>
             </div>
         </div>
        
      </div>
      <div class="back">
        <h1>D I G I T A<span>Agende de marketing digital qui assiste les petites entreprises pour se lancer au marché</span></h1>
        <ul>
          <li>+216-20-756-741</li>
          <li>Digita@gmail.com</li>
          <li>DigitaTN.com</li>
          </ul>
      </div>
      </div>
    </div>