<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

	<!-- ***** Header Text Start ***** -->
	<div class="header-text">
		<div class="container">
			<div class="row">
				<div class="left-text col-lg-7 col-md-12 col-sm-12 col-xs-12">
					<h1> <em>Instavisit</em>
						Votre portail virtuel de la Tunisie !
					</h1>
					<!--
						<p></p>
					-->
					<a href="#about" class="main-button-slider">Prend un devis</a>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->