<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="features-item">
          <div class="features-icon">
            <h2>instavisit</h2>
            <img src="assets/img/instas/instavisit_café.png" alt="">
            <h4>Instavisit café</h4>
            <p>
              Vous pouvez visiter votre salon de thé préféré de chez vous sans aucun dérangement !
            </p>
            <a routerLink="/instavisit_cafe/filtre" class="main-button coffehover">
              Explorer
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="features-item">
          <div class="features-icon">
            <h2>instavisit</h2>
            <img src="assets/img/instas/instavisit_immo.png" alt="">
            <h4>Instavisit immobilier</h4>
            <p>
              Vous voulez acheter, vendre ou louer un logement, Instavisit Immobilier vous offre une plateforme diversifiée d’habitats en Tunisie.
            </p>
            <a routerLink="/instavisit_immobilier/immobilier" class="main-button immohover">
              Explorer
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="features-item">
          <div class="features-icon">
            <h2>instavisit</h2>
            <img src="assets/img/instas/instavisit_resto.png" alt="">
            <h4>Instavisit Restaurant</h4>
            <p>
              Découvrez les délices et la gastronomie Tunisienne à partir du portail de notre visite virtuelle !
            </p>
            <a routerLink="/instavisit_restaurant/filtre" class="main-button restohover">
              Explorer
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Second row -->
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"></div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="features-item">
          <div class="features-icon">
            <h2>instavisit</h2>
            <img src="assets/img/instas/instavisit_culture.png" alt="">
            <h4>Instavisit culture</h4>
            <p>
              Contempler les sites historiques de notre chère Tunisie au confort de votre maison !
            </p>
            <a class="main-button culturehover" routerLink="/instavisit_culture/filtre">
              Explorer
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
        >
        <div class="features-item">
          <div class="features-icon">
            <h2>instavisit</h2>
            <img src="assets/img/instas/instavisit_salle.png" alt="">
            <h4>Instavisit salle des fêtes</h4>
            <p>
              Une conférence, un mariage, une célébration ? Vous trouverez les meilleurs endroits chez Instavisit.
            </p>
            <a routerLink="/instavisit_salles_des_fetes/filtre" class="main-button sallehover">
              Explorer
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12"></div>
    </div>
    <!-- /second row -->
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

