<div class="landing">
<div class="container">


<div class="cards-list" >


  
    <div class="card 1" routerLink="/nav/instavisit_immobilier">
      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Immobilier</p>
      </div>
    </div>
    
      <div class="card 2" routerLink="/instavisit_culture/filtre">
      <div class="card_image">
        <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
        </div>
      <div class="card_title title-white">
        <p>Culture</p>
      </div>
    </div>
    
    <div class="card 3" routerLink="/instavisit_salles_des_fetes/filtre">
      <div class="card_image">
        <img src="assets/img/icons/salles.jpg" />
      </div>
      <div class="card_title">
        <p style="color: aliceblue;">Salles</p>
      </div>
    </div>
      
      <div class="card 4" routerLink="/instavisit_cafe/filtre">
      <div class="card_image">
        <img src="assets/img/icons/coffe.jpg" />
        </div>
      <div class="card_title title-black">
        <p>Caffé</p>
      </div>
      </div>

      <div class="card 5" routerLink="/instavisit_restaurant/filtre">
        <div class="card_image">
          <img src="assets/img/icons/resto.jpeg" />
          </div>
        <div class="card_title title-black">
          <p style="font-size: 23px;">Restaurants</p>
        </div>
        </div>
    
    </div>


</div>

</div>