
<div class="container">


<div class="cards-list" >
  
    <div class="card 1">
      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Immobilier</p>
      </div>
    </div>
    
      <div class="card 2" routerLink="/nav/insta_culture_filtre">
      <div class="card_image">
        <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
        </div>
      <div class="card_title title-white">
        <p>Culture</p>
      </div>
    </div>
    
    <div class="card 3" routerLink="/nav/insta_salle_fetes_filtre">
      <div class="card_image">
        <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
      </div>
      <div class="card_title">
        <p>Salles</p>
      </div>
    </div>
      
      <div class="card 4" routerLink="/nav/insta_cafe_filtre">
      <div class="card_image">
        <img src="assets/img/icons/coffe.png" />
        </div>
      <div class="card_title title-black">
        <p>Caffé</p>
      </div>
      </div>

      <div class="card 5" routerLink="/nav/insta_resto_filtre">
        <div class="card_image">
          <img src="assets/img/icons/resto.png" />
          </div>
        <div class="card_title title-black">
          <p>Restaurants</p>
        </div>
        </div>
    
    </div>


</div>