#about {
  padding: 100px 0px;
  position: relative;
  z-index: 9;
}

@media (max-width: 992px) {
  .features-item {
    margin-bottom: 45px;
  }
}

.features-item {
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.features-item h2 {
  z-index: 9;
  position: absolute;
  top: 15px;
  left: 45px;
  font-size: 70px;
  font-weight: 500;
  color: #e9eefd;
}

.features-item img {
  z-index: 10;
  position: relative;
  max-width: 75px;
  max-height: 90px;
  margin-bottom: 40px;

}

.features-item h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.features-item .main-button {
  margin-top: 35px;
  display: inline-block;
}



a.main-button-slider {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: #fba70b;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #f1556a;
}

a.main-button {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: #fba70b;
  text-transform: uppercase;
  color: rgb(46, 45, 45);
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #f1556a;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: #fba70b;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


a.main-button.coffehover:hover{
  background-color: #e45826 !important;
}
a.main-button.culturehover:hover{
  background-color: #9ff031 !important;
}
a.main-button.immohover:hover{
  background-color: #31326f ;
}
a.main-button.restohover:hover{
  background-color: #b34180 ;
}
a.main-button.sallehover:hover{
  background-color: #EF5350  ;
}

@media(max-width: 500px){
  .features-item {
    max-width: 90%;
    height: 90%;
  }

  .features-item h2 {
    z-index: 9;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 40px;
    font-weight: 300;
    color: #e9eefd;
  }
}

.component-container{
  all: initial;
  all: unset;
}
