<br><br>
<div class="container">
    <div class="row">
         <div class="col s6">
        <form  [formGroup]="formInfo" action="">
    <mat-card>
        <mat-card-content>
 

        <div class="input-field">
          <input  type="text" class="validate"  formControlName="etage" [(ngModel)]="Parking[0].etage">
          <label for="first_name">Etage: exp 5/11 ou 2 etages</label>
        </div> 
        <div class="input-field">
            <div class="switch" >
                <label>
                  Non 
                  <input type="checkbox"  formControlName="elevator" [(ngModel)]="Parking[0].elevator">
                  <span class="lever"></span>
                  Avec ascenseur
                </label>
              </div>
            
        </div><br>
        <div class="input-field">
            <div class="switch" >
                <label>
                  Non 
                  <input type="checkbox"  formControlName="parking" [(ngModel)]="Parking[0].parking">
                  <span class="lever"></span>
                  Avec parking 
                </label>
              </div>
            
        </div><br>
        <div class="input-field">
            <div class="switch" >
                <label>
                  Non 
                  <input type="checkbox"  formControlName="garage" [(ngModel)]="Parking[0].garage">
                  <span class="lever"></span>
                  Avec garage
                </label>
              </div>
            
        </div><br>
        <div class="input-field">
            <div class="switch" >
                <label>
                  Non 
                  <input type="checkbox"  formControlName="garden" [(ngModel)]="Parking[0].garden">
                  <span class="lever"></span>
                  concierge 
                </label>
              </div>
            
        </div><br>
        <div class="input-field">
            <div class="switch" >
                <label>
                  Non 
                  <input type="checkbox"  formControlName="cave" [(ngModel)]="Parking[0].cave">
                  <span class="lever"></span>
                  Avec Piscine
                </label>
              </div>
            
        </div><br><br> 
    </mat-card-content>
    <mat-card-actions>
        <button class="waves-effect waves-light btn yellow" (click)="updateParking()" name="action">
          Update</button>
    </mat-card-actions>
               
    
    </mat-card>
    </form>
    <br>
    <!--AA-->
    <form  [formGroup]="formMap" action="">
        <mat-card>
            <mat-card-content>
     
    
            <div class="input-field">
              <input  type="text" class="validate"  formControlName="map" [(ngModel)]="Map[0].map">
              <label for="map">Ajouter la localisation sur map</label>
            </div> 
      
            <div class="input-field">
                <input  type="text" class="validate"  formControlName="virtual" [(ngModel)]="Map[0].virtualTour">
                <label for="virtual">Ajouter le lien 360° </label>
              </div> 
             
        </mat-card-content>
        <mat-card-actions>
            <button class="waves-effect waves-light btn yellow" (click)="updateMap()" name="action">
              Update</button>
        </mat-card-actions>
                   
        
        </mat-card>
        </form>
    <!--AA-->
    <!-- Info -->
    <br>
    <form [formGroup]="form" action="">
        <mat-card>
            <mat-card-content>
     
                <div class="input-field">
                    <input id="first_name" type="text" class="validate"  formControlName="adress" [(ngModel)]="Info.adress">
                    <label for="first_name">Adress </label>
                  </div>
            <div class="input-field">
              <input id="first_name" type="text" class="validate"  formControlName="ciy" [(ngModel)]="Info.ciy" >
              <label for="first_name">City(Verify before) </label>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="description" [(ngModel)]="Info.description">
                <label for="first_name">Description</label>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="description2" [(ngModel)]="Info.description2">
                <label for="first_name">Description2</label>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="description3" [(ngModel)]="Info.description3">
                <label for="first_name">Description3</label>
            </div>
            <div class="input-field">
                <input id="first_name" type="number" class="validate"  formControlName="Tx" [(ngModel)]="Info.room_nb">
                <label for="first_name">Nb chambres </label>
            </div>
            <div class="input-field">
                <input id="first_name" type="number" class="validate"  formControlName="price" [(ngModel)]="Info.price">
                <label for="first_name">Prix</label>
            </div>
            <div class="input-field">
                <input id="first_name" type="number" class="validate"  formControlName="surface" [(ngModel)]="Info.surface">
                <label for="first_name">Surface</label>
            </div> 
          <br>
        </mat-card-content>
        <mat-card-actions>
            <button class="waves-effect waves-light btn yellow" (click)="updateInfo()"  name="action">
              Update</button>
        </mat-card-actions>
                    
        
        </mat-card>
        </form>
    <!-- /Info-->
  </div>
    <div class="col s6">
    <form  [formGroup]="formTransport" action="">
        <mat-card>
            <mat-card-content>
  
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="metroST" [(ngModel)]="Tran[0].metroST">
                <label for="first_name">Station de metro</label>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="metro" [(ngModel)]="Tran[0].metro">
                <label for="first_name">distance (metro-location)</label>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="louageST" [(ngModel)]="Tran[0].louageST" hidden>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="louage" [(ngModel)]="Tran[0].louage" hidden>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="trainST" [(ngModel)]="Tran[0].trainST" hidden>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="train" [(ngModel)]="Tran[0].train" hidden>
            </div>
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="busST" [(ngModel)]="Tran[0].BusST">
                <label for="first_name">Station de bus</label>
            </div>   
            <div class="input-field">
                <input id="first_name" type="text" class="validate"  formControlName="bus" [(ngModel)]="Tran[0].Bus">
                <label for="first_name">distance (Bus-location)</label>
            </div>    
       
            <br><br>
        </mat-card-content>
        <mat-card-actions>
            <button class="waves-effect waves-light btn yellow" (click)="updateTran()"  name="action">
              Update</button>
        </mat-card-actions>
                    
        
        </mat-card>
        </form>
        <br>
       
        <!--COUCHAGE-->
        <form  [formGroup]="formCouchage " action="">
            <mat-card>
                <mat-card-content>
         
        
                <div class="input-field">
                  <input  type="number" class="validate"  formControlName="lit" [(ngModel)]="Couchage[0].lit">
                  <label for="map">Lit simple</label>
                </div> 
          
                <div class="input-field">
                    <input  type="number" class="validate"  formControlName="doublelit" [(ngModel)]="Couchage[0].doublelit">
                    <label for="virtual">Lit double </label>
                </div>
                <div class="input-field">
                  <input  type="number" class="validate"  formControlName="canape" [(ngModel)]="Couchage[0].canapelit">
                  <label for="virtual">canape lit </label>
              </div> 
                 
            </mat-card-content>
            <mat-card-actions>
                <button class="waves-effect waves-light btn yellow" (click)="updateCouchage()" name="action">
                  Ajouter</button>
            </mat-card-actions>
                       
            
            </mat-card>
            </form>
            </div>
      <!--AA-->

</div>
 <!--IMAGE-->
 <br>
 <form [formGroup]="form2" action="">
     <mat-card>
         <mat-card-content>

         <div class="row">
             <div class="file-field input-field">
               <div class="btn blue">
                 <span>Photo</span>
                 <input type="file" (change)="onFileChanged($event)">
               </div>
               <div class="file-path-wrapper">
                 <input class="file-path validate" type="text" placeholder="Choisit l'image principale">
               </div>
             </div>  
           </div>  
         
           <div class="row">
             <div class="file-field input-field">
               <div class="btn blue">
                 <span>Cover photo</span>
                 <input type="file" (change)="onFileChanged2($event)">
               </div>
               <div class="file-path-wrapper">
                 <input class="file-path validate" type="text" placeholder="Choisit la coverture photo">
               </div>
             </div>
                   
           </div>     
    
         <br> 
     </mat-card-content>
     <mat-card-actions>
         <button class="waves-effect waves-light btn yellow" (click)="updateIMG()"  name="action">
           Update</button>
     </mat-card-actions>
                 
     
     </mat-card>
     </form>
     <!--IMAGE-->
     <!--MeubleINfo-->
     <br>
     <div class="row">
        <div class="col s6">
           <form  [formGroup]="formCuisine" action="">
               <mat-card>
                   <mat-card-content>
     
                       <div class="input-field">
                           <div class="switch" >
                               <label>
                                 Non 
                                 <input type="checkbox"  formControlName="four" [(ngModel)]="Cuisine[0].four">
                                 <span class="lever"></span>
                                 Avec four 
                               </label>
                             </div>
                       </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="refri" [(ngModel)]="Cuisine[0].refri">
                             <span class="lever"></span>
                             Avec réfrigérateur
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="lave" [(ngModel)]="Cuisine[0].lave">
                             <span class="lever"></span>
                             Avec Lave vaisselle 
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="conge" [(ngModel)]="Cuisine[0].congelateur">
                             <span class="lever"></span>
                             Avec congélateur
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="micro" [(ngModel)]="Cuisine[0].microonde">
                             <span class="lever"></span>
                             Avec micro-ondes 
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="plaque" [(ngModel)]="Cuisine[0].plaque">
                             <span class="lever"></span>
                             Avec plaque de cuisson
                           </label>
                         </div>
                       
                   </div><br><br> 
               </mat-card-content>
               <mat-card-actions>
                   <button class="waves-effect waves-light btn yellow" (click)="updateCuisine()" name="action">
                     Ajouter</button>
               </mat-card-actions>
               </mat-card>
               </form>
   
        </div>
        <div class="col s6">
           <form  [formGroup]="formEquip" action="">
               <mat-card>
                   <mat-card-content>
            
                       <div class="input-field">
                           <div class="switch" >
                               <label>
                                 Non 
                                 <input type="checkbox"  formControlName="toilet" [(ngModel)]="Equip[0].toilette">
                                 <span class="lever"></span>
                                 Toilettes séparées 
                               </label>
                             </div>
                       </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="machine" [(ngModel)]="Equip[0].machine">
                             <span class="lever"></span>
                              Raccordement machine
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="internet" [(ngModel)]="Equip[0].internet">
                             <span class="lever"></span>
                             Raccordement internet 
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="boite" [(ngModel)]="Equip[0].boite">
                             <span class="lever"></span>
                             Boite aux lettres
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="inter" [(ngModel)]="Equip[0].interphone">
                             <span class="lever"></span>
                             Avec interphone 
                           </label>
                         </div>
                       
                   </div><br>
                   <div class="input-field">
                       <div class="switch" >
                           <label>
                             Non 
                             <input type="checkbox"  formControlName="lave" [(ngModel)]="Equip[0].lavelange">
                             <span class="lever"></span>
                             Avec Lave-linge
                           </label>
                         </div>
                       
                   </div><br><br> 
               </mat-card-content>
               <mat-card-actions>
                   <button class="waves-effect waves-light btn yellow" (click)="updateEquip()" name="action">
                     Ajouter</button>
               </mat-card-actions>
               </mat-card>
               </form>
    
        </div>
      </div>
       
      <form  [formGroup]="formAmeubl" action="">
         <mat-card>
             <mat-card-content>
             <div class="input-field">
               <input  type="number" class="validate"  formControlName="canape" [(ngModel)]="Amm[0].canape">
               <label for="map">Canapé</label>
             </div> 
       
             <div class="input-field">
                 <input  type="number" class="validate"  formControlName="myTable" [(ngModel)]="Amm[0].mytable">
                 <label for="virtual">Table </label>
             </div>
             <div class="input-field">
               <input  type="number" class="validate"  formControlName="chair" [(ngModel)]="Amm[0].chaise">
               <label for="virtual">nombre de chaises </label>
           </div> 
           <div class="input-field">
               <input  type="number" class="validate"  formControlName="myTV" [(ngModel)]="Amm[0].MyTV">
               <label for="virtual">TV </label>
           </div>
           <div class="input-field">
               <input  type="number" class="validate"  formControlName="dressing" [(ngModel)]="Amm[0].dressing">
               <label for="virtual">Dressing </label>
           </div>
           <div class="input-field">
               <input  type="number" class="validate"  formControlName="desk" [(ngModel)]="Amm[0].bureau">
               <label for="virtual">Bureau </label>
           </div>
              
         </mat-card-content>
         <mat-card-actions>
             <button class="waves-effect waves-light btn yellow" (click)="updateAmm()" name="action">
               Ajouter</button>
         </mat-card-actions>
                    
         
         </mat-card>
         </form>
     <!--MeubleInfo-->

</div>
<br><br>