

<div class="content">
      <div class="myVideo">
        <video autoplay muted loop id="myVideo" >
            <source src="assets/coverVideo.mp4" type="video/mp4"> 
        </video>
        
      </div>
  
        <div class="header" >
              <form [formGroup]="GoForm" action="">
                
                  <div class="title-wrapper">
                    <h1>
                        Visitez votre prochain logement depuis<br> 
                        <span> chez vous.</span>
                    </h1>
                  </div>
                  <div class="radioandform">
                            <mat-radio-group aria-label="Select an option" >
                                <mat-radio-button value="1" (change)="onItemChange(1)" class="Fopt" checked ><br><span class="radiotext">A louer</span>  </mat-radio-button>
                                <mat-radio-button value="2" (change)="onItemChange(2)" class="Sopt"><br><span class="radiotext">A vendre</span>  </mat-radio-button>
                            </mat-radio-group>
                            <div class="row Form-box">
                              <input type="text" class="col l7 m6 s12 search-field " formControlName="Localisation" placeholder="Indiquer lieu,village,adress...">
                              <button type="button" (click)="Go()"  name="action" class="col l4 m3 s12 search-bt">Rechercher</button>
                            </div>
                  </div>
              </form>
        </div>  

</div>

        
        <!-- WELCOME OUTPUT-->

      <div class="kk"><br><br>  
        <div class="ctt">
          <h4> Les derniers biens à louer<div id="result"></div></h4>
          <br>
        
          <div class="row">
             <div *ngFor="let output of FirOutput | slice:-8:-4">
                  <div class="card col">
                      <div class="card-image waves-effect waves-block waves-light">
                        <a routerLink="/nav/lmdetails/+{{output.id}}">
                       <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img"></a>
                      </div><br>
                    {{output.ciy}}
                    <span>{{output.price}} dt - {{output.surface}} m²</span> <br>
                    <small> {{output.room_nb}} piéces meublé</small>
                    <a routerLink="/nav/lmdetails/+{{output.id}}">
                      <i class="material-icons right">filter_none</i>
                    </a>
                    <div class="card-content">
                  </div>
             
                  <div class="card-reveal">
                   <i class="material-icons right">close</i>
                  </div>
             </div> 
          </div>   
        </div>  
        <div class="row">
        <div *ngFor="let output of FirOutput | slice:-4">
          <div class="card col">
            <div class="card-image waves-effect waves-block waves-light">
              <a routerLink="/nav/lmdetails/+{{output.id}}">
             <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img"></a>
            </div><br>
          {{output.ciy}}
          <span>{{output.price}} dt - {{output.surface}} m²</span> <br>
          <small> {{output.piece}} pieces meublé</small>
          <a routerLink="/nav/lmdetails/+{{output.id}}">
            <i class="material-icons right">filter_none</i></a>
          <div class="card-content">
        </div>
   
        <div class="card-reveal">
         <i class="material-icons right">close</i>
        </div>
   </div> 
  </div>
       
</div>
        <a class="seeMore" routerLink="/nav/searchlouer"><i class="material-icons prefix" >chevron_right</i>
          Voir plus de logements</a>
      </div>  
      <!--VOutput-->
      <div class="ctt">
        <h4> Les derniers biens à vendre  <div id="result"></div></h4>
        <br>
      
        <div class="row">
           <div *ngFor="let output of SecOutput | slice:-8:-4">
                <div class="card col">
                    <div class="card-image waves-effect waves-block waves-light">
                      <a routerLink="/nav/details/+{{output.id}}">
                     <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img"></a>
                    </div><br>
                  {{output.city}}
                  <span>{{output.price}} dt - {{output.surface}} m²</span> <br>
                  <small> {{output.room_nb}} piéces </small>
                  <a routerLink="/nav/details/+{{output.id}}">
                    <i class="material-icons right">filter_none</i>
                  </a>
                  <div class="card-content">
                </div>
           
                <div class="card-reveal">
                 <i class="material-icons right">close</i>
                </div>
           </div> 
        </div>   
      </div>  
      <div class="row">
      <div *ngFor="let output of SecOutput | slice:-4">
        <div class="card col">
          <div class="card-image waves-effect waves-block waves-light">
            <a routerLink="/nav/details/+{{output.id}}">
           <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img"></a>
          </div><br>
        {{output.city}}
        <span>{{output.price}} dt - {{output.surface}} m²</span> <br>
        <small> {{output.piece}} pieces</small>
        <a routerLink="/nav/details/+{{output.id}}">
          <i class="material-icons right">filter_none</i></a>
        <div class="card-content">
      </div>
 
      <div class="card-reveal">
       <i class="material-icons right">close</i>
      </div>
 </div> 
</div>
     
</div>
      <a class="seeMore" routerLink="/nav/searchvente"><i class="material-icons prefix" >chevron_right</i>
        Voir plus de logements</a>
    </div>
      <!--/VOutput-->
      </div>
        <!-- WELCOME OUTPUT-->

<!-- Update WHY IV-->


<!-- /Upadate-->
                   <!--  WHY INSTAVISIT-->
            
  <div class="why">
    <h4 >Pourquoi InstaVistit ? </h4><br>
    <div class="row">
      <div class="col s3 studentimages">
        <!--<img src="assets/img/student2.png">-->
        <img src='{{allImages.students[activeStudent]}}' alt="students">
      </div>
      <div class="col s9">
        <div class="container">
        <h5>Vous êtes entrain de chercher un logement ? </h5>
        InstaVisit est la solution idéale pour vous :
       
        <mat-vertical-stepper (selectionChange)="activeStudent = $event.selectedIndex" [linear]="isLinear" #stepper>
          <mat-step   [stepControl]="firstFormGroup">
           
              <ng-template matStepLabel class="lj"> Évitez les déplacements inutiles </ng-template>
              Vous évitez les déceptions et les déplacements inutiles,
              En visionnant la visite virtuelle en ligne, vous pouvez
              vous faire une première impression du bien.
            
          </mat-step>
          <mat-step   [stepControl]="secondFormGroup">
           
              <ng-template matStepLabel> Une description fidèle</ng-template>
              Une description fidèle et précise de
              Chaque bien que nous mettons en location ou en vente.
            
          </mat-step>
          <mat-step >
            <ng-template matStepLabel> Une Visite virtuelle </ng-template>
            Vous Faites découvrir le logement de vos rêves à votre famille ou amis éloignés à tout moment via votre Smartphone, 
            votre Tablette ou votre ordinateur à travers la visite virtuelle.
          </mat-step>
        </mat-vertical-stepper>
        
    </div>
    </div></div>
    <br>
    <br>
    <div class="row">
      <div class="col s9">
          <div class="container fprop">
              <h5>Vous etes propriétaires ? </h5>
              Louez ou vendez votre logement avec des outils modernes :
               <br><br><div class="texthover">
                <mat-vertical-stepper (selectionChange)="activeSeller = $event.selectedIndex" [linear]="isLinear" #stepper>
                  <mat-step [stepControl]="firstFormGroup">
                   
                      <ng-template matStepLabel>Louez ou vendez votre logement</ng-template>
                      InstaVisit vous permet de louer ou vendre votre logement de manière efficace. 
               Contactez-nous pour que nous prenions en charge la recherche d’acheteur/locataire 
               pour votre bien.
                    
                  </mat-step>
                  <mat-step [stepControl]="secondFormGroup">
                   
                      <ng-template matStepLabel>guidez vos clients à distance</ng-template>
                      En leur permettant  de découvrir  la géolocalisation des biens et les  infos  du quartier  ou ils se trouvent 
                    
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Un photographe professionnel</ng-template>
                    Un photographe professionnel se rend sur place en 48h de votre demande, 
              il réalise des prises des vues 360°,des photos de haute qualité, des vidéos,
               prend les mesures nécessaires de toutes les piéces et toutes les informations qui entourent 
               le bien
                  </mat-step>
                </mat-vertical-stepper></div>
                        
            </div>
      </div>
      <br>
      <br>
      <div class="propr">
      <div class="col s3">
          <img src='{{allImages.seller[activeSeller]}}'>
      </div>
      </div>
    </div>
  
  </div>        
               <!--  /WHY INSTAVISIT-->

      <br>
      <app-footer></app-footer>

 
<script>
  $(document).ready(function(){
  var screenWidth = $(window).width();
  // if window width is smaller than 800 remove the autoplay attribute
  // from the video
  if (screenWidth < 570){
        $('myVideo').removeAttr('autoplay');
  } else {
    $('myVideo').attr('autoplay');
  }
});
</script>