<br>
<div class="row">
    <div class="col s5 m5 l5">
      <br> <br> <br> <br> 
      <div class="container">
      <h4>
      Visitez virtuellement à 360° et louez votre prochain logement<span> depuis chez vous.</span>
      </h4>
    </div>
    </div>
    <div class="col s7 m7 l7"><img class="main"  alt="main Logo" src="assets/img/main.jpg"></div>
  </div>
<div class="c">
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix">pin_drop</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Entrez un lieu</label>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">settings_overscan</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Surface en m²</label>
            </div>
            <div class="input-field col s3">
                <i class="material-icons prefix">attach_money</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Prix en DT</label>
              </div>
              <div class="col s1">
                  <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">search</i></a></div>
          </div>
        </form>
      </div>

  </div>

<!-- images-->
<div class="ct">
   <h4> Les derniers biens à louer <a routerLink="nav/details">dd</a> </h4>
   <br>
  <div class="row">
    <div class="col s3">
      <img src="assets/img/houses/h1.jpg">
      Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
    </div>
    <div class="col s3">
        <img src="assets/img/houses/h2.jpeg">
        Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
    </div>
    <div class="col s3">
        <img src="assets/img/houses/h3.jpg">
        Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
    </div>
    <div class="col s3">
        <img src="assets/img/houses/h4.jpeg">
        Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
    </div>
  </div>
  <div class="row">
      <div class="col s3">
          <img src="assets/img/houses/h5.jpg">
          Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
      </div>
      <div class="col s3">
          <img src="assets/img/houses/h1.jpg">
          Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
      </div>
      <div class="col s3">
          <img src="assets/img/houses/h2.jpeg">
          Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
      </div>
      <div class="col s3">
          <img src="assets/img/houses/h3.jpg">
          Sidi Bou Said
      <span>5000 dt - 15.0 m²</span> <br>
      <small> 3 piéces meublé-3eme etage</small>
      </div>
    </div>

</div>