body{
  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
}
/* MAX WIDTH 876 */
@media(min-width: 1300px){
  .header{
    margin-left: 8% !important;
  }
}
@media (max-width: 876px) {
  .content {
      background-size: cover !important;
      background: url('/assets/img/main2.jpg');
      height:510px;        
  }
  #myVideo { display: none; }
  .header{
    margin-top: -10%;
    
  }
  .radioandform{
    margin-left: -30%;
    font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif !important;
  }

}
/* //MAX WIDTH 876 */
/* MAX WIDTH 465 */
@media (max-width : 480px ){
  .header{
    top: 3.4% !important;
    width: 100% !important;
    font-weight: 190;
    padding-left: 9px;
    padding-right: 9px;
  }
   .header h1 {
        text-shadow: 0px 0px 20px black;
        font-size: 6vw;
        margin: 0 auto;
        max-width: 95%;
        font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
        padding-bottom: 50px;
   }
      .radioandform{
        margin-left: -0.5% !important;
        font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
        width: 93%;
        max-width: 93%;
      }
  
      .radiotext{
        font-size: 2.33vw !important;
        padding-bottom: 2px;
        color: #ffffff;
        font-family: bold;
      }
      .search-field {
        align-items: center;
        height: 40px;
        background-color: rgb(255, 250, 236);
        position: relative;
        font-size:15px;
        color: rgb(53, 53, 53); 
        border-top-left-radius: 80px 80px !important;
        border-bottom-left-radius: 80px 80px !important;
        border-bottom-right-radius: 80px 80px !important;
        border-top-right-radius: 80px 80px !important;
      }
      
      .Form-box{
        text-align: center;
        width: auto;
        box-sizing: border-box;
        
      }
      .search-bt{
        height: 40px;
        border-top-left-radius: 80px 80px;
        border-bottom-left-radius: 80px 80px;
        border-bottom-right-radius: 80px 80px;
        border-top-right-radius: 80px 80px;
        color: rgb(255, 255, 255);
        /*border-radius: 25px;*/
        position: relative;
        /*  border-radius: 0 25px 25px 0;*/
        outline:none;
        cursor:pointer;
        display: inline-block;
        display: table-cell;
        vertical-align: middle;
        font-size: 1.3em;
        text-align:center;
      
      }
      .ctt{
          left: 50% !important;
          align-items: center;
        }
        .card{
          margin:10px !important;
          width: 270px !important;
          height: 205px !important;
          box-shadow: #000000;
        }
        .propr img{
          margin-left: -60% !important;
          margin-bottom: -80% !important;

        }
              
}


/*No media Screen */
body {
margin: 0;
padding: 0;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}
#myVideo {
position: hidden;
width: 100%;
height: auto;
overflow: visible;
right: 0;
bottom: 0;
margin-top: -6%;
}

/* Radio BOX   */
      .radiotext{
        font-size: 1.11vw;
        padding-bottom: 2px;
        color: #ffffff;
      /*  font-family: bold;*/
        
      }
      .Fopt{
        background-color: rgba(0, 0, 0, 0.7);
        height:50px;
        width: 20%;
         }
      .Fopt :hover{
        background-color: rgba(219, 147, 12, 0.7);
        height:50px;
        width: 20%;
      }
      .Sopt{
        background-color:  rgba(0, 0, 0, 0.7);
        height:50px;
        width: 20%;

      }
      .Sopt :hover{
        background-color: rgba(219, 147, 12, 0.7);
        height:50px;
        width: 20%;
      }
/* /Radio BOX */

.header
{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position:absolute;
  top: 2%;
  left: 53% ; 
  transform: translate(-50%,-50%);
  font-family: 'Varela Round',sans-serif !important;;
  font-weight: 90;
  align-items: center;
  display: flex;
  text-align: center;
  width: 80%;
  /*width:40.7vw;*/
}
    .header h1{
        text-shadow: 0px 0px 20px black;
        font-size: 4vw !important;
        margin: 0 auto;
        max-width: 790px;
        font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
        padding-bottom: 40px;
        }
        .radioandform{
           font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
           margin-left:10%;
           width: 90%;
           max-width: 90%;
         }
         mat-radio-group{
           
           margin-left: -60%;
         }
        .search-field {
          align-items: left;
          height: 50px;
          background-color: rgb(255, 250, 236);
          position: relative;
          font-size:17px;
          border-radius: 3px;
          color: rgb(53, 53, 53); 
          box-sizing: border-box;
        }
        
        .Form-box{
          text-align: center;
          width: auto;
          box-sizing: border-box;
          
        }
        .search-bt{
          height: 50px;
          width: 5px;
          background: #FDA701;
          border:none;
          color: rgb(255, 255, 255);
          /*border-radius: 25px;*/
          position: relative;
          /*  border-radius: 0 25px 25px 0;*/
          outline:none;
          cursor:pointer;
          display: inline-block;
          display: table-cell;
          vertical-align: middle;
          font-size: 1.3em;
          text-align:center;
        
        }

  ::ng-deep .mat-step-header .mat-step-icon-selected {
   background-color: #FDA701 !important; 
   }
  ::ng-deep .mat-step-header .mat-step-icon {
  background-color: rgb(228, 218, 200); 
    }
/* NO MEDIA SCREEN */

h1{
 color: rgb(255, 255, 255);
  margin-top : 70% !important;
 font-size: 5.2vw !important;/* 3.46vw; /* 45 px font-size 2 px spacing */
 letter-spacing: 0.154vw;/*0.154vw;*/
 text-align: center;
 font-family: 'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;;

}
.search-field {
  height: 50px;
  background-color: rgb(255, 250, 236);
  position: relative;
  font-size:17px;
  border-radius: 3px;
  color: rgb(53, 53, 53); 
}
.radioandform{
  font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
  margin-left:15%;
}
.Form-box{
  text-align: center;
}
.search-bt{
  height: 50px;
  width: 5px;
  background: #FDA701;
  border:none;
  color: rgb(255, 255, 255);
  /*border-radius: 25px;*/
  position: relative;
  /*  border-radius: 0 25px 25px 0;*/
  outline:none;
  cursor:pointer;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3em;
  text-align:center;

}
span{
color:#FDA701;
}
span .ars{
color: #ffffff;
margin-top:15px;
}
.wave {
opacity: .4;
position: absolute;
top: 3%;
left: 50%;
background: #00b28e;
width: 500px;
height: 500px;
margin-left: -250px;
margin-top: -250px;
transform-origin: 50% 48%;
border-radius: 43%;
animation: drift 3000ms infinite linear;
}
.ii{

width: 24px !important;
height: 24px !important;
font-size: 3.73em;
cursor:pointer;
margin-left:50%;
color:rgb(111, 152, 206);
}



/* Static houses */
.main{
margin-top:10px;
margin-right: 7px;
margin-left: 1px;
width:717px;
height: 350px;
}

h4{
font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
color:rgb(75, 74, 74);
}

span{
color: #FDA701;
}

.icon_prefix{
color:blue;
}
/*
img{
width: 390px;
height: 200px;
}*/
.ctt{
margin-left: 8%;
margin-right: 3%;

}



body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}
.page-footer{
background-color:#33353d
}
.footer-copyright{
background-color: #616161; 
}
.seeMore{
color:#00b28e;
text-decoration: underline;
margin-left: 75%;
font-size: 14px;

}


.card{
  margin:19px;
  width: 240px;
  height: 190px;
  box-shadow: #000000;
}
.card:hover{
transition: all 0.3s ease;
width:244px;
height: 204px;
margin-top: -0.1%;
margin-left: -0.1%;


}
.card-image{
width: 100%;
height: 120px;
margin:0;
padding-left:0 !important;

}
.card-image .img{
background-size: cover;
padding-left:0 !important;
flex-shrink: 0;
height: 190px;

}


/* Try SHAPES */
.diamond {
transform: rotate(45deg);
transform-origin: 0 100%;
}
#infinity {
position: hidden;
width: 212px;
height: 100px;
box-sizing: content-box;
}
#infinity:before,
#infinity:after {
content: "";
box-sizing: content-box;
position: absolute;
top: 0;
left: 0;
width: 60px;
height: 60px;
border: 20px solid #00b28e;
border-radius: 50px 50px 0 50px;
transform: rotate(-45deg);
}
#infinity:after {
left: auto;
right: 0;
border-radius: 50px 50px 50px 0;
transform: rotate(45deg);
}
/* /SHAPES */ 
.kk{
background-color: rgb(233, 240, 243);
margin-top: -1%;
}

mat-vertical-stepper{
background-color:rgb(247, 247, 247) ;
}
.why{
margin-left: 4%;
font-family:  'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
}
/*
.why img{
height:370px;
}*/

.why h4{
font-family:'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
text-align: center;
font-style: Georgia;
color: #28617b;
}

.why h5{
text-align: left;
font-style: Georgia;
color: #00b28e;
margin-right: -7%;
font-family: 'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
}


.why .texthover:hover{
font-size: 1.07em;
color: #505253;
cursor: pointer;
}

.fprop{
margin-left:-0.8%;
}




.studentimages {
  display: flex;
  justify-content: center;
}