<div class="content">
  <div class="myVideo">
    <video autoplay muted loop id="myVideo" controls poster="assets/img/main2.jpg">
        <source src="assets/coverVideo.mp4" type="video/mp4"> 
    </video>
    
    </div>
  <div class="header">
    
      <form [formGroup]="GoForm" action="">
        <h1>
          Visitez votre prochain logement depuis<br> 
           <span> chez vous.</span>
       </h1>
       <div class="TheBox">
              <mat-radio-group aria-label="Select an option" >&nbsp; &nbsp;
                  <mat-radio-button value="1" (change)="onItemChange(1)" class="Fopt" checked ><br>A louer &nbsp; &nbsp; </mat-radio-button>
                  <mat-radio-button value="2" (change)="onItemChange(2)" class="Sopt"><br>A vendre &nbsp; &nbsp;</mat-radio-button>
              </mat-radio-group>
              
          <div class="row Form-box">
            <input type="text" class="col l6 m 12 s12 search-field " formControlName="Localisation" placeholder="Indiquer lieu,village,adress...">
            <button type="button" (click)="Go()"  name="action" class="col l3 m12 s12 search-bt">Rechercher</button>
          </div>  </div>  
      </form>

</div>  
</div>

        
        <!-- WELCOME OUTPUT-->

      <div class="kk"><br><br>  
        <div class="ctt">
          <h4> Les derniers biens à louer  <div id="result"></div></h4>
          <br>
        
          <div class="row">
             <div *ngFor="let output of FirOutput | slice:0:4">
                  <div class="card col">
                      <div class="card-image waves-effect waves-block waves-light">
                        <a routerLink="/nav/details/+{{output.id}}">
                       <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img"></a>
                      </div><br>
                    {{output.city}}
                    <span>{{output.price}} dt - {{output.surface}} m²</span> <br>
                    <small> {{output.RoomNB}} piéces meublé-3eme etage</small>
                    <a routerLink="/nav/details/+{{output.id}}">
                      <i class="material-icons right">filter_none</i>
                    </a>
                    <div class="card-content">
                  </div>
             
                  <div class="card-reveal">
                   <i class="material-icons right">close</i>
                  </div>
             </div> 
          </div>   
        </div>  
        <div class="row">
        <div *ngFor="let output of FirOutput | slice:4:8">
          <div class="card col">
            <div class="card-image waves-effect waves-block waves-light">
              <a routerLink="/nav/details/+{{output.id}}">
             <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img"></a>
            </div><br>
          {{output.city}}
          <span>{{output.price}} dt - {{output.surface}} m²</span> <br>
          <small> {{output.RoomNB}} piéces meublé-3eme etage</small>
          <a routerLink="/nav/details/+{{output.id}}">
            <i class="material-icons right">filter_none</i></a>
          <div class="card-content">
        </div>
   
        <div class="card-reveal">
         <i class="material-icons right">close</i>
        </div>
   </div> 
  </div>   </div>
        <a class="seeMore" routerLink="/nav/searchlouer"><i class="material-icons prefix" >chevron_right</i>
          Voir plus de logements</a>
      </div>    </div>
        <!-- WELCOME OUTPUT-->

<!-- Update WHY IV-->


<!-- /Upadate-->
                   <!--  WHY INSTAVISIT-->
            
  <div class="why">
    <h4>Pourquoi InstaVistit ? </h4><br>
    <div class="row">
      <div class="col s3">
        <img src="assets/img/student2.png">
      </div>
      <div class="col s9">
        <div class="container">
        <h5>Vous faites des études ou un stage dans une nouvelle ville ? </h5>
        InstaVisit est la solution idéale pour vous :
       
        <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
           
              <ng-template matStepLabel>Évitez les déplacements inutiles</ng-template>
              Vous évitez les déceptions et les déplacements inutiles,
              En visionnant la visite virtuelle en ligne, vous pouvez
              vous faire une première impression du bien.
            
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
           
              <ng-template matStepLabel>Une description fidèle</ng-template>
              Une description fidèle, précise et complète de
              Chaque appartement que nous mettons en location ou en vente
            
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Visites virtuelles</ng-template>
            Nous vous proposons les modélisations des photos 360° et les visites virtuelles proposées par InstaVisit,
            vous permettent de vous projeter dans votre future maison ou appartement.
          </mat-step>
        </mat-vertical-stepper>
        
    </div>
    </div></div>
    <br>
    <br>
    <div class="row">
      <div class="col s9">
          <div class="container fprop">
              <h5>Vous etes propriétaires ? </h5>
              Louez votre logement avec des outils modernes :
               <br><br><div class="texthover">
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                  <mat-step [stepControl]="firstFormGroup">
                   
                      <ng-template matStepLabel>Louez votre logement</ng-template>
                      InstaVisit vous permet de louer ou vendre votre logement de manière efficace. 
               Contactez-nous pour que nous prenions en charge la recherche d’acheteur/locataire 
               pour votre bien.
                    
                  </mat-step>
                  <mat-step [stepControl]="secondFormGroup">
                   
                      <ng-template matStepLabel>guidez vos clients à distance</ng-template>
                      Permettez à vos clients de revisiter en bénéficiant de la géolocalisations des biens
               et des info du quartier et guidez vos clients à distance.
                    
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Un photographe professionnel</ng-template>
                    Un photographe professionnel se rend sur place en 48h de votre demande, 
              il réalise des prises des vues 360°,des photos de haute qualité, des vidéos,
               prend les mesures nécessaires de toutes les piéces et toutes les informations qui entoure 
               le bien
                  </mat-step>
                </mat-vertical-stepper></div>
                        
            </div>
      </div>
      <br>
      <br>
      <div class="propr">
      <div class="col s3">
          <img src="assets/img/owner2.png">
      </div>
      </div>
    </div>
  
  </div>        
               <!--  /WHY INSTAVISIT-->
 <br>

          <!--FOOTER-->
  <footer class="footer-distributed">
 
    <div class="footer-left">
 
    <h3>Insta<span>Visit</span></h3>
 
    <p class="footer-links">
    <a href="#">Home</a>
  ·
    <a href="#">Blog</a>
  ·
    <a href="#">Pricing</a>
  ·
    <a href="#">About</a>
  ·
    <a href="#">Faq</a>
  ·
    <a href="#">Contact</a>
    </p>
 
    <p class="footer-company-name">InstaVisit &copy; 2019</p>
    <br>
    <p class="footer-company-name">Powred by Digita</p> 
    </div>
 
    <div class="footer-center">
 
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>21 XXXX Street</span> YYY, Tunis</p>
    </div>
 
    <div>
    <i class="fa fa-phone"></i>
    <p>+216 555 123 456</p>
    </div>
 
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">contact@InstaVisit.com</a></p>
    </div>
 
    </div>
 
    <div class="footer-right">
 
    <p class="footer-company-about">
    <span>About the company</span>
    une agence immobilière dont les  processus de location et de vente  se font en ligne 
   &amp; .
    </p>
 
    <div class="footer-icons">
 
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
 
    </div>
 
    </div>
 
    </footer>

 <!--   /TEST NEW FOOTER-->   

 
<script>
  $(document).ready(function(){
  var screenWidth = $(window).width();
  // if window width is smaller than 800 remove the autoplay attribute
  // from the video
  if (screenWidth < 570){
        $('myVideo').removeAttr('autoplay');
  } else {
    $('myVideo').attr('autoplay');
  }
});
</script>