/* Style the video: 100% width and height to cover the entire window */

body {
  margin: 0;
  padding: 0;
}

/*TEST*/

/* /TEST */
#myVideo {
 position: relative;
 /*  right: 0;
 /* bottom: 0;*/
  margin-top: -6%;
  width: 100%;
  height: 2%;
}
.myVideo{
  width: 100%;
  height: 2%;
}
/* Add some content at the bottom of the video/page */

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
mat-radio-group{
  margin-left: -67%;

}
.Fopt{
  background-color: rgba(0, 0, 0, 0.7);
 
  height:50px;
}
.Fopt :hover{
  background-color: rgba(219, 147, 12, 0.7);
  
  height:50px;
}
.Sopt{
  background-color:  rgba(0, 0, 0, 0.7);
 
  height:50px;
}
.Sopt :hover{
  background-color: rgba(219, 147, 12, 0.7);
 
  height:50px;
}
/*form*/
.header
{
  /* margin-top:-9%;*/
   position:absolute;

   top: 50%;
   left: 50%;
   width: 500px;
   transform: translate(-50%,-50%);
   background-size:cover;
   font-family: sans-serif;
   align-items: center;
   display: flex;
   text-align: center;
}
h1{
   color: rgb(255, 255, 255);
   margin-bottom: 70px;
   font-size: 45px;
   letter-spacing: 2px;
   text-align: center;
}
.search-field{
 height: 50px;
 padding: 10px;
 border: none;
 outline:none;
}
.input{
 position: relative;
 display:inline-block;
 font-size:20px;
 box-sizing: border-box;
 transition: .5s;
 background: #fff;
 width: 20px;
 height:50px;
 border:none;
 padding: 0 20px;
 border-radius:25 px 0 0 25px;

} 

.Form-box{
  text-align: center;
}
.search-bt{
  height: 50px;
  width: 5px;
  background: #4d8cdd;
  border:none;
  color: rgb(255, 255, 255);
  /*border-radius: 25px;*/
  position: relative;
/*  border-radius: 0 25px 25px 0;*/
  outline:none;
  cursor:pointer;
  display: inline-block;
  display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
  text-align:center;
}
span{
  color: rgb(111, 152, 206);
}
span .ars{
 color: #ffffff;
 margin-top:15px;
}
.wave {
opacity: .4;
position: absolute;
top: 3%;
left: 50%;
background: rgb(20, 152, 218);
width: 500px;
height: 500px;
margin-left: -250px;
margin-top: -250px;
transform-origin: 50% 48%;
border-radius: 43%;
animation: drift 3000ms infinite linear;
}
.ii{

width: 24px !important;
height: 24px !important;
font-size: 3.73em;
cursor:pointer;
margin-left:50%;
color:rgb(111, 152, 206);
}



/* Static houses */
.main{
margin-top:10px;
margin-right: 7px;
margin-left: 1px;
width:717px;
height: 350px;
}

h4{
color:rgb(75, 74, 74);
}

span{
color: rgb(248, 114, 4);
}

.icon_prefix{
color:blue;
}

img{
width: 280px;
height: 200px;
}
.ct{
margin-left: 8%;
margin-right: 3%;

}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}
.page-footer{
background-color:#33353d
}
.footer-copyright{
background-color: #616161; 
}
.seeMore{
color:rgb(2, 148, 216);
text-decoration: underline;
margin-left: 85%;
font-size: 14px;

}


/* /Static */


.card{
margin:19px;
width: 240px;
height: 190px;
box-shadow: #000000;

}
.card:hover{
transition: all 0.3s ease;
width:244px;
height: 204px;
margin-top: -0.1%;
margin-left: -0.1%;


}
.card-image{
width: 100%;
height: 120px;
margin:0;
padding-left:0 !important;

}
.card-image .img{
background-size: cover;
padding-left:0 !important;
flex-shrink: 0;
/*margin-left:-5%;*/
height: 190px;
/*width: 150%;*/
}


/* Try SHAPES */
.diamond {
transform: rotate(45deg);
transform-origin: 0 100%;
}
#infinity {
position: hidden;
width: 212px;
height: 100px;
box-sizing: content-box;
}
#infinity:before,
#infinity:after {
content: "";
box-sizing: content-box;
position: absolute;
top: 0;
left: 0;
width: 60px;
height: 60px;
border: 20px solid rgb(14, 136, 192);
border-radius: 50px 50px 0 50px;
transform: rotate(-45deg);
}
#infinity:after {
left: auto;
right: 0;
border-radius: 50px 50px 50px 0;
transform: rotate(45deg);
}
/* /SHAPES */ 
.kk{
background-color: rgb(233, 240, 243);
margin-top: -1%;
}

.why{
margin-left: 4%;
}
.why img{
height:370px;
}
.why h4{
text-align: center;
font-style: Georgia;
color: rgb(110, 110, 110);
}

.why h5{
text-align: left;
font-style: Georgia;
color: rgb(58, 139, 214);
margin-right: -7%;
}

.why .row{
font-size: 1.13em;
color:rgb(67, 67, 71);

}
.why .texthover:hover{
font-size: 1.19em;
color: rgb(60, 151, 67);
cursor: pointer;
}
.propr img{
height: 400px;
margin-right: 7%;
}

.fprop{
 margin-left:-0.8%;
}



/* TEST NEW FOOTER */
footer{
position: relative;
bottom: 0;
}
.footer-distributed{
background-color: #292c2f;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;

padding: 55px 50px;
margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

.footer-distributed .footer-left{
width: 40%;
}

.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Cookie', cursive;
margin: 0;
}

.footer-distributed h3 span{
color:  #5383d3;
}


.footer-distributed .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
padding: 0;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}


.footer-distributed .footer-center{
width: 35%;
}

.footer-distributed .footer-center i{
background-color:  #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p{
display: inline-block;
color: #ffffff;
vertical-align: middle;
margin:0;
}

.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-distributed .footer-center p a{
color:  #5383d3;
text-decoration: none;;
}

.footer-distributed .footer-right{
width: 20%;
}

.footer-distributed .footer-company-about{
line-height: 20px;
color:  #92999f;
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span{
display: block;
color:  #ffffff;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-distributed .footer-icons{
margin-top: 25px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}


@media (max-width: 880px) {

.footer-distributed{
  font: bold 14px sans-serif;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.footer-distributed .footer-center i{
  margin-left: 0;
}
.main {
  line-height: normal;
  font-size: auto;
}}

/* TEST NEW FOOTER */
