<!--  STARTER
<div class="starter">
	
	<br><img src="assets/img/dep1.png"><br><br>
	<h4>Cherchez le logement le plus proche de vous <br>et le prix qui vous convient</h4>
	
</div>
   -->



        
<br>
<div class="row spanel">
	
		<div class="col s12 m5">
		  <div class="card-panel ">
			  <div class="semi">
				  <img src="assets/img/search.png">
			  </div>
              <br>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Lieu</label>
				</div>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Prix max</label>
				</div>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Prix min</label>
				</div>
				<div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Surface min</label>
				</div><div class="input-field">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Surface max</label>
				</div>
   
		  </div>
		</div>
	  </div>

<div class="row ct">
  <div class="col s10">
		  
		<div class="row">
			<div *ngFor="let output of FirOutput ">
			   <div class="card col ">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activatorh" src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}">
				</div> <br>
				{{output.city }}
					<span>{{output.price }} dt - {{output.surface }} m²</span> <br>
					<small> {{output.RoomNB }} piéces meublé-3eme etage</small>
					<a routerLink="/nav/details/+{{output.id}}">
					<i class="material-icons right">filter_none</i></a>
				<div class="card-content">
			
				</div>
				<div class="card-reveal">
				</div>
			  </div>
		</div></div>
		<!--
			  <div class="card col">
				  <div class="card-image waves-effect waves-block waves-light">
					<img class="activatorh" src="assets/img/houses/h1.jpg">
				  </div><br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
				  <div class="card-content">
			
				  </div>
				  <div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				  </div>
				</div> 
				<div class="card col">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activatorh" src="assets/img/houses/h1.jpg">
					</div><br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
					<div class="card-content">
					  
					</div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					  <p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				  </div>  
			
			</div>
			<div class="row">
			   <div class="card col ">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activatorh" src="assets/img/houses/h1.jpg">
				</div> <br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
				<div class="card-content">
			
				</div>
				<div class="card-reveal">
				</div>
			  </div>
			  <div class="card col">
				  <div class="card-image waves-effect waves-block waves-light">
					<img class="activatorh" src="assets/img/houses/h1.jpg">
				  </div><br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
				  <div class="card-content">
			
				  </div>
				  <div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				  </div>
				</div> 
				<div class="card col">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activatorh" src="assets/img/houses/h1.jpg">
					</div><br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
					<div class="card-content">
					  
					</div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					  <p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				  </div>  
			
			</div>
			<div class="row"> 
			   <div class="card col ">
				<div class="card-image waves-effect waves-block waves-light">
				  <img class="activatorh" src="assets/img/houses/h1.jpg">
				</div> <br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
				<div class="card-content">
			
				</div>
				<div class="card-reveal">
				</div>
			  </div>
			  <div class="card col">
				  <div class="card-image waves-effect waves-block waves-light">
					<img class="activatorh" src="assets/img/houses/h1.jpg">
				  </div><br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
				  <div class="card-content">
			
				  </div>
				  <div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				  </div>
				</div> 
				<div class="card col">
					<div class="card-image waves-effect waves-block waves-light">
					  <img class="activatorh" src="assets/img/houses/h1.jpg">
					</div><br>
					Sidi Bou Said
					<span>5000 dt - 15.0 m²</span> <br>
					<small> 3 piéces meublé-3eme etage</small>
					<a routerLink="/nav">
					<i class="material-icons right">filter_none</i></a>
					<div class="card-content">
					  
					</div>
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					  <p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				  </div>  
			
			</div>
  </div>


  <div class="col s2 rightPanel">
		<div class="row">
				<div class="col s12 m5">
				  <div class="card-panel teal">
					<span class="white-text">I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
					</span>
				  </div>
				</div>
			  </div>
					  
	  <div class="row">
		  <div class="col">
 
		  </div>
		  <div class="col input-field">
				<input id="last_name" type="text" class="validate">
				<label for="last_name">Lieu</label>
		  </div>
	  </div>
	  <div class="row">
			<div class="col">

			</div>
			<div class="col input-field">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Prix max</label>
			</div>
	  </div>
	  <div class="row">
			<div class="col">

			</div>
			<div class="col input-field">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Prix min</label>
			</div>
	  </div>
	  <div class="row">

			<div class="col input-field">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Surface max</label>
			</div>
	  </div>
	  <div class="row">
			<div class="col">
	
			</div>
			<div class="col input-field">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Surface min</label>
			</div>
	  </div>

-->
 

  </div>
</div>










<!--  OLD SEARCH BOX  -->
<!--
<br>
<div class="containers">

  <div class="row Sbox"> 
   
    <div class="wrap col s4 m4 l4 xl4">
	  <div class="search">
		 <input type="text" class="searchTerm filter-input" [(ngModel)]="term" placeholder="  Entrez un lieu"  >
	  </div>
	</div>

	<div class="wrap col s3 m3 l4 xl4">
		<div class="search">
		   <input type="text" class="searchTerm" [(ngModel)]="termSurf" placeholder="  Surface min en m²">
		</div>
	</div>

	<div class="wrap col s4 m4 l4 xl4">
		<div class="search">
		   <input type="text" class="searchTerm" [(ngModel)]="termPrice" placeholder="  Prix max en DT" >
		   <button class="searchButton">Chercher</button>
		</div>
	</div>	  
	
  </div>
  

</div>

-->


               <!--  OLD SEARCH BOX  -->
			   <!--  OLD FILTER  -->
			   
			   <!--
  <div class="ct">
	<h4> Les derniers biens à louer  </h4>
	<br>
	<div class="row"> 
	   <div *ngFor="let output of FirOutput | filter:term:'city'">
			<div class="col s3">
			  <img src="http://127.0.0.1:8000/images/houses/{{output.mainIMG}}" alt="img">
			  {{output.city }}
			  <span>{{output.price }} dt - {{output.surface}} m²</span> <br>
			  <small> {{output.RoomNB}} piéces meublé-3eme etage</small>
			</div>
	   </div> 
	</div>   
  </div>  
-->
  
              <!--  /OLD FILTER  -->