<br>
<div class="container">
    <mat-card>
        <mat-card-content>
        </mat-card-content>
        <h3>Ajouter des photos de couverture</h3>
        <form action="#">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>1er coverture</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </form>


                  <form action="#">
                        <div class="file-field input-field">
                          <div class="btn">
                            <span>2em coverture</span>
                            <input type="file">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                      </form>
                      <form action="#">
                            <div class="file-field input-field">
                              <div class="btn">
                                <span>3em coverture</span>
                                <input type="file">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                            </div>
                          </form>
                         
                              <form action="#">
                                    <div class="file-field input-field">
                                      <div class="btn">
                                        <span>4em coverture</span>
                                        <input type="file">
                                      </div>
                                      <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                      </div>
                                    </div>
                                  </form>
                                  <form action="#">
                                        <div class="file-field input-field">
                                          <div class="btn">
                                            <span>5em coverture</span>
                                            <input type="file">
                                          </div>
                                          <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                          </div>
                                        </div>
                                      </form>

                                      <h3>Ajouter des photos à 360°</h3>

                                
                                      
                                      <form action="#">
                                            <div class="file-field input-field">
                                              <div class="btn">
                                                <span>1er 360°</span>
                                                <input type="file">
                                              </div>
                                              <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                              </div>
                                            </div>
                                          </form>
                            
                            
                                              <form action="#">
                                                    <div class="file-field input-field">
                                                      <div class="btn">
                                                        <span>2em 360°</span>
                                                        <input type="file">
                                                      </div>
                                                      <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text">
                                                      </div>
                                                    </div>
                                                  </form>
                                                  <form action="#">
                                                        <div class="file-field input-field">
                                                          <div class="btn">
                                                            <span>3em 360°</span>
                                                            <input type="file">
                                                          </div>
                                                          <div class="file-path-wrapper">
                                                            <input class="file-path validate" type="text">
                                                          </div>
                                                        </div>
                                                      </form>
                                                     
                                                          <form action="#">
                                                                <div class="file-field input-field">
                                                                  <div class="btn">
                                                                    <span>4em 360°</span>
                                                                    <input type="file">
                                                                  </div>
                                                                  <div class="file-path-wrapper">
                                                                    <input class="file-path validate" type="text">
                                                                  </div>
                                                                </div>
                                                              </form>
                                                              <form action="#">
                                                                    <div class="file-field input-field">
                                                                      <div class="btn">
                                                                        <span>5em 360°</span>
                                                                        <input type="file">
                                                                      </div>
                                                                      <div class="file-path-wrapper">
                                                                        <input class="file-path validate" type="text">
                                                                      </div>
                                                                    </div>
                                                                  </form>      
                        
            
     </mat-card>
</div>