<br>
<div class="container">
    <form [formGroup]="form" action="">
    <mat-card>
        <mat-card-content>
        </mat-card-content>
        <h3>Ajouter des photos de gallery</h3>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>1er coverture</span>
                    <input type="file" (change)="onFileChanged($event)" formControlName="first">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Choisit la photo de coverture principale">
                  </div>
                </div>
             


               
                        <div class="file-field input-field">
                          <div class="btn">
                            <span>2em coverture</span>
                            <input type="file">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Choisit la 2eme image de Gallery">
                          </div>
                        </div>
                      
                            <div class="file-field input-field">
                              <div class="btn">
                                <span>3em coverture</span>
                                <input type="file">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                            </div>
                          
                              <div class="file-field input-field">
                                <div class="btn">
                                  <span>4em coverture</span>
                                  <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                         
                                  <div class="file-field input-field">
                                    <div class="btn">
                                      <span>5em coverture</span>
                                      <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                      <input class="file-path validate" type="text">
                                    </div>
                                  </div>
                          
                              <div class="file-field input-field">
                                <div class="btn">
                                  <span>6em coverture</span>
                                  <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                       
                          <div class="file-field input-field">
                            <div class="btn">
                              <span>7em coverture</span>
                              <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                            </div>
                          </div>
                  
                      <div class="file-field input-field">
                        <div class="btn">
                          <span>8em coverture</span>
                          <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>
                      <mat-card-actions align="end">
                      <button class="waves-effect waves-light btn red">Upload</button>
                    </mat-card-actions>
               
                               
     </mat-card></form><br>
</div>