<br>
<span class="colorme" align="center">Vous êtes propriétaire ? voilà Comment ça marche :</span> 
<div class="heading">
  

</div>
<div class="cd-half-width second-slide">   
  <div class="container">
    <div class="row">
      <div class="col m12">
        <div class="content second-content">
          <div class="row">
            <div class="col m7 left-image">
              <img src="assets/img/ourWork/contact4.jpg">
            </div>
            <div class="col m5">
              <div class="right-about-text">
                <h4>1) contactez-nous pour fixer un rendez-vous</h4>
                <p>Vous êtes un particulier ou un professionnel, vous pouvez nous contacter par téléphone ou par email. Nous somme facilement joignable. Pour ne manquer aucune actualité, suivez-nous sur nos resaux sociaux.</p>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col m7">
              <div class="left-about-text">
                <h4>2) Nous venons le jour convenu pour effectuer le travail</h4>
                <p>Un photographe professionnel se rend sur place en 48h maximum de votre demande, il réalise des prises des vues 360°, des photos de haute qualité, des vidéos, prend les mesures nécessaires de toutes les pièces pour s’en servir de la préparation du plan et toutes les informations qui entourent votre bien: lignes de transport ,ecoles , commerce.</p>
                
              </div>
            </div>
            <div class="col m5 right-image">
              <img src="assets/img/ourWork/photo2.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
          <div class="col m12">
            <div class="content second-content">
              <div class="row">
                <div class="col m7 left-image">
                  <img src="assets/img/ourWork/left-about-image.jpg">
                </div>
                <div class="col m5">
                  <div class="right-about-text">
                    <h4>3) Nous éditons la visite virtuelle et nous la publions sur notre site </h4>
                    <p>Un travail professionnel est effectué afin de créer la visite virtuelle. Nous traitons ainsi toutes les images capturées et nous intégrons toutes les informations déjà prises. Ce travail est effectué moyennant des logiciels approuvés par des experts immobiliers. Une fois terminée,nous le publions sur notre site.</p>
                    
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col m7">
                  <div class="left-about-text">
                    <h4>4) Nous Suivons votre annonce jusqu’au vente / location </h4>
                    <p>Nous vous contactons que lorsque votre bien aura son nouveau propriétaire/locataire</p>
                    
                  </div>
                </div>
                <div class="col m5 right-image">
                  <img src="assets/img/ourWork/deal.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
<app-footer></app-footer>


