<h1 class="Hclass" align="center">About Us</h1>
<span class="colorme" align="center">Vous étés propriétaire voilà Comment ça marche ?</span> 
<div class="heading">
  

</div>
<div class="cd-half-width second-slide">   
  <div class="container">
    <div class="row">
      <div class="col m12">
        <div class="content second-content">
          <div class="row">
            <div class="col m7 left-image">
              <img src="assets/img/ourWork/left-about-image.jpg">
            </div>
            <div class="col m5">
              <div class="right-about-text">
                <h4>1) Nous contacter pour fixer un rendez-vous</h4>
                <p>Vous êtes un particulier ou un professionnel, vous pouvez nous contacter par téléphone ou par email. Nous somme facilement joignable. Pour ne manquer aucune actualité.<br> Suivez-nous sur nos resaux</p>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col m7">
              <div class="left-about-text">
                <h4>2) Nous venons le jour convenu pour effectuer le travail</h4>
                <p>Un photographe professionnel se rend sur place en 48h maximum de votre demande, il réalise des prises des vues 360°, des photos de haute qualité, des vidéos, prend les mesures nécessaires de toutes les pièces pour s’en servir de la préparation du plan et toutes les informations qui entourent votre bien: lignes de transport ,ecoles , commerce.</p>
                
              </div>
            </div>
            <div class="col m5 right-image">
              <img src="assets/img/ourWork/right-about-image.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
          <div class="col m12">
            <div class="content second-content">
              <div class="row">
                <div class="col m7 left-image">
                  <img src="assets/img/ourWork/left-about-image.jpg">
                </div>
                <div class="col m5">
                  <div class="right-about-text">
                    <h4>3) Nous éditons la visite virtuelle et nous la publions sur notre site </h4>
                    <p>n travail professionnel est effectué afin de créer la visite virtuelle. Nous traitons ainsi toutes les images capturées et nous intégrons toutes les informations déjà prises. Ce travail est effectué moyennant des logiciels approuvés par des experts immobiliers. Une fois terminée, nous le nous le publions sur notre site.</p>
                    
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col m7">
                  <div class="left-about-text">
                    <h4>4) Nous Suivons votre annonce jusqu’au vente / location </h4>
                    <p>Une fois l’annonce est publiée sur notre site, nous suivons toutes les demandes de visite physique sur place et nous accompagnons les clients pour découvrir leur futur logement. Nous vous contactons</p>
                    
                  </div>
                </div>
                <div class="col m5 right-image">
                  <img src="assets/img/ourWork/right-about-image.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>


<li>
<div class="heading">
  <h1>Featured</h1>
  <span>We produce featured product every week</span> 
</div>
<div class="cd-half-width third-slide">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content third-content">
          <div class="row">
            <div class="col-md-7 left-image">
              <img src="assets/img/ourWork/left-feature-image.png">
            </div>
            <div class="col-md-5">
              <div class="right-feature-text">
                <h4>Featured Product: <em>Newline</em></h4>
                <p>Lorem ipsum dolor amet, consecte adipiscing elit, quisque dictum convallis mi. In dapibus auctor dictum donec mattis quis eros ultricies feugiat. Morbi congue faucibus mi, ague blandit curabitur ac lacinia.</p>
                <div class="feature-list">
                  <ul>
                    <p>- Suspendisse mattis finibus sem</p>
                    <p>- Pellentesque et urna vel lectus</p>
                    <p>- Vestibulum iaculis nisi dui</p>
                    <p>- Donec sagittis eros , ac tempus ligula</p>
                    <p>- Integer sapien risus, auctor</p>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>                  
  </div>
</div>
</li>
