<div class="row">
    <div class="col s8">
        <div class="u-container">
            <div class="u-mobile-overview shadow">
                <div class="u-mobile-overview-line headline">
                    <div class="u-headline"> Maison à louer de S+{{info.room_nb}} au {{info.adress}}, 92000, {{info.city}} </div>
                    <small>ref. INV000{{info.id}}</small>
                </div>
                <div class="u-mobile-overview-line data">
                    <div class="u-mobile-overview-data">
                        <div class="u-mobile-overview-data-price">
                            {{info.price ? info.price: "0"}} TND par mois
                        </div>
                        <div class="u-mobile-overview-data-price-charge">
                            (dont {{info.charge ? info.charge : "0"}} TND de charges)
                        </div>
                        <div class="u-mobile-overview-data-disponibility">
                            Disponibilité : {{info.disponibilty ? info.disponibilty : "Immédiate"}}
                        </div>

                    </div>

                    <div class="u-mobile-overview-buttons-area">
                        <div class="u-mobile-overview-buttons">
                            <div class="u-mobile-overview-button btn-shadow">
                                S + {{info.room_nb ? info.room_nb : 0}}
                            </div>
                            <div class="u-mobile-overview-button btn-shadow">
                                {{info.surface ? info.surface : 0}} m²
                            </div>

                        </div>
                        <div class="u-mobile-overview-buttons-type-location">
                            Type de location : {{info.type ? info.type : "Non meublé"}}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>