
<!--COVER SECTION-->
<div class="cover">
    <div class="row">
          <div class="col s6">
              <a class="coverA waves-effect waves-light btn-large blue"><i class="material-icons left">add_a_photo</i>Voir les photos,les videos et la visite virtuelle</a>
            </div>
          <div class="col s6">
        <div class="card special"  data-offset-bottom="700" data-offset-top="0" data-spy="affix">
            <div class="card-content">
              <p><span style="font-size: 1.4rem;font-weight: bold; color:orangered;">44, Avenue de beb khathra, Tunis </span>
                  <br>
                  ref. INV00013
                  500.0 dt par mois (dont 000 DT de charges)nvenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#test5">Test 2</a></li>
                <li class="tab"><a href="#test6">Test 3</a></li>
              </ul>
            </div>
            <div class="card-content grey lighten-4">
              <div id="test4">Test 1</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    
    
    <!--CARD SECTION-->
    <br>
    <div class="row">
      <div class="col s5 m5">
        <!-- <div class="row"> -->
            <!--<div class="col s7"> --> 
                <h5> Location d'un T4 meublé au 12, Allée de Provence, 92000, Nanterre </h5>
    
                 <h6>le logement</h6>
    
                 <p>
    
        Csqdddqdsqdsdqsdqsdsdsdsdsdsdsd<br>
         vous proposons ce 3 pièces de dsdsdsdsdsdsdsdsdsdsds <br> 
         avec des matériaux de qualité.<br> <br>
    
        sdsdsdsdsdsdsds<br>
         édsdsdsdsd propose<br>
        tout l'équipedsdschine à café...
        <br> <br>
        C'est esdsdsdsdsdsds <br>
         (lit gigogne dans l'une d'elle). L'appartement dispose d'une salle <br><br>
         d'eau et d'dsdsdsé.
         <br>Appartement disponible de suite. <br> <br>
        
        A  visiter sur InstaVisit.com
    
                 </p>
               </div>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <div class="col s3 m3">
                 <!-- <div class="row"> -->
                         
                          <div class="card-panel ">
                            
                              <img src="assets/img/Nada.jpg">
    
                            <span class="white-text">
                              <br> <br> 
                              Présenté par<span class="orange-text" style="font-weight: bold;"> Aymen Hamda </span> <br>
                              Votre expert immobilier <br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;@InstaVisit
                            </span><br> <br>
                            <i class="small material-icons left"  style="font-weight: bold; color:white;">phone </i>
                             <span class="white-text" style="font-weight: bold;color:white;font-size: 22px; ">50 808 080</span>
                          </div>
                      
                     
                    </div>
             <!--<div>  </div>-->  
           
    
             <div class="col s4 m4">
                Empty space
            </div>  
      </div>
       
    
    <!---->
    <!--CARACTERSITIC SECTION-->
    <div class="sec3">
    <div class="row">
      <div class="col s8">
          <h6>Caractéristiques</h6>
          
          <table class="striped highlight responsive-table">
              <thead>
                <tr>
                    <th class="tableS">Informations essentielles</th>
                    <th></th>
                    <th></th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td class="gras">Parking</td>
                  <td>Non   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                      Colocation accepté </span>	</td>
                  <td>Oui</td>
                </tr>
                <tr>
                  <td class="gras">Box / garage</td>
                  <td>Non	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                       Étage</span></td>
                  <td>11 / 16</td>
                </tr>
                <tr>
                  <td class="gras">Cave</td>
                  <td>Non	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                       Gardienne</span></td>
                  <td>Oui</td>
                </tr>
                <tr>
                    <td class="gras">Honoraires de location</td>
                    <td>1101 € &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                      Ascenseur</span></td>
                    <td>Oui</td>
                  </tr>
              </tbody>
            </table>
    
       
          
          <table class="striped highlight responsive-table">
              <thead>
                <tr>
                    <th class="tableS">
                        Équipement</th>
                    <th></th>
                    <th></th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                    
                  <td class="gras">
                      <i class="material-icons">wc</i>	
                    Toilettes séparés</td>
                  <td>Non   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                          <i class="material-icons">speaker</i>	
                          Lave-linge </span></td>
                  <td>Oui</td>
                </tr>
                <tr>
                  <td class="gras">
                      <i class="material-icons">chrome_reader_mode</i>
                    Interphone</td>
                  <td>Non	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;">
                          <i class="material-icons">highlight</i> 
                          Raccordement machine</span></td>
                  <td>11 / 16</td>
                </tr>
                <tr>
                  <td class="gras">
                      <i class="material-icons">wifi</i>
                    Raccordement internet</td>
                  <td>Non	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                          <i class="material-icons">drafts</i>
                          Boite aux lettres</span></td>
                  <td>Oui</td>
                </tr>
              </tbody>
            </table>
    
            
    
             
    
    
    
    
      </div>
      <div class="col s4">
      
      </div>
    </div>
    </div>
    
    
    <div class="sec4">
        <div class="row">
          <div class="col s8">
              <h6>Environnement</h6>
              <div class="mapouter">
                  <div class="gmap_canvas">
                  <iframe width="1100" height="500" id="gmap_canvas" 
                  src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.maps-erstellen.de"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                <!-- Special 20% Discount for Elegant Themes Divi Page Builder https://www.embedgooglemap.net/divi-sale/ -->
    
      <br> <br>
    
    
      <table class="striped highlight responsive-table">
          <thead>
            <tr>
                <th> <i class="material-icons">directions_bus</i>
                    Bus</th>
                <th>  <i class="material-icons">directions_railway</i>
                  Metro</th>
                <th> <i class="material-icons">directions_subway</i>
                  Train</th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
                
              <td>
                  <i class="material-icons">pin_drop</i>
                  Station XXX	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <span style="font-size: 1.4rem;text-transform: capitalize;">
                        255 m</span> 	
                </td>
              <td><i class="material-icons">pin_drop</i>
                Station XXX   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  &nbsp;&nbsp;
                  <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                          
                      223 m </span></td>
              <td>1100 m</td>
            </tr>
            <tr>
              <td>
                  <i class="material-icons">pin_drop</i>
                  Station XXX	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <span style="font-size: 1.4rem;text-transform: capitalize;">
                        255 m</span> 
              </td>
              <td> <i class="material-icons">pin_drop</i>
                Station XXX	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;
                  <span style="font-size: 1.4rem;text-transform: capitalize;">
                      255 m</span></td>
              <td></td>
            </tr>
            <tr>
              <td class="gras">
                  
               </td>
              <td><i class="material-icons">pin_drop</i> 
                Station XXX	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;
                  <span style="font-size: 1.4rem;text-transform: capitalize;"> 
                      30m</span></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    
    
    
      </div>
      <div class="col s4">
        Empty space
      </div>
    </div> 
    </div>   
    
    
    
      <!-- Site footer -->
      <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col s12 col m6">
                <h6>About</h6>
                <p class="text-justify">InstaVisit.com  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. , 
                  JavaScript, PHP, Android, SQL and Algorithm.</p>
              </div>
    
              <div class="col xs6 col m3">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                  <li><a href="http://scanfcode.com/category/front-end-development/">InstaVisit@gmail</a></li>
                  <li><a href="http://scanfcode.com/category/back-end-development/">22 008 080</a></li>
                  <li><a href="http://scanfcode.com/category/java-programming-language/">XXX</a></li>
                  <li><a href="http://scanfcode.com/category/android/">YYY</a></li>
                  <li><a href="http://scanfcode.com/category/templates/">ZZZ</a></li>
                </ul>
              </div>
    
              <div class="col xs6 col m3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/about/">About Us</a></li>
                  <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                  <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Browse</a></li>
                  <li><a href="http://scanfcode.com/privacy-policy/">A louer</a></li>
                  <li><a href="http://scanfcode.com/sitemap/">A Vendre</a></li>
                </ul>
              </div>
            </div>
            <hr>
          </div>
          <div class="container">
            <div class="row">
              <div class="col m8 col s6 col xs 12">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
             <a href="#">InstaVisit</a>.
                </p>
              </div>
    
              <div class="col m 4 col s 6 col xs 12">
                <ul class="social-icons">
                  <li><a class="btn social" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                </ul>
              </div>
            </div>
          </div>
          Powered by DIGITA
    </footer>
